In [98]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import scipy as sci
from requests import get

In [110]:
data_2017 = pd.read_csv("2017_raw.csv", encoding = "ISO-8859-1").dropna(axis = 0, how = "all")
data_2018 = pd.read_csv("2018_raw.csv", encoding = "ISO-8859-1").dropna(axis = 0, how = "all")
data_2019 = pd.read_csv("2019_raw.csv", encoding = "ISO-8859-1").dropna(axis = 0, how = "all")
data_2020 = pd.read_csv("2020_raw.csv", encoding = "ISO-8859-1").dropna(axis = 0, how = "all", thresh = 2)

In [111]:
data_2017

,Date (UTC),Country (Epicenter),Region (Epicenter),Magnitude,Type,Origin,Depth (km),Intensity (MMI / JMA),Fatalities,Injuries,displaced,Impact value (D),buildings damaged,buildings destroyed,Tsunami height
0,02.01.2018,Greece,Central Macedonia,4.7,Earthquake,tectonic,NaN,NaN,0,0,0,0.057,15,0,--
1,02.01.2018,Canada,Alberta,2.0,Cryoseism,weather,NaN,NaN,0,0,0,0.012,3,0,--
2,02.01.2018,India,Maharashtra,3.2,EQ Swarm,tectonic,NaN,NaN,0,0,NaN,0.422,176,0,--
3,02.01.2018,Algeria,Blida,5.1,Earthquake,tectonic,10,V,0,2,NaN,0.182,1,NaN,--
4,03.01.2018,El Salvador,OS La Libertad,5.1,Earthquake,tectonic,80,V,0,0,0,0.016,4,0,--
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,26.12.2018,Italy,Sicily,4.9,Earthquake,volcanic,1,VIII,0,28,1096,1.961,5048,505,--
318,27.12.2018,Venezuela,Carabobo,5.5,Earthquake,tectonic,10,VII,NaN,NaN,NaN,0.287,100,NaN,--
319,28.12.2018,Indonesia,Papua Barat,5.7,Earthquake,tectonic,41,NaN,0,0,0,0.020,5,0,--
320,29.12.2018,Mexico,Nuevo Leon,4.2,Earthquake,NaN,NaN,NaN,NaN,NaN,NaN,0.012,3,NaN,--
321,30.12.2018,Thailand,Kanchanaburi,4.9,Earthquake,tectonic,NaN,NaN,0,0,0,0.004,1,0,--

In [112]:
data_2018

,Date (UTC),Country (Epicenter),Region (Epicenter),Magnitude,Type,Origin,Depth (km),Intensity (MMI / JMA),Fatalities,Injuries,displaced,Impact value (D),buildings damaged,buildings destroyed,Tsunami height
0,02.01.2018,Greece,Central Macedonia,4.7,Earthquake,tectonic,NaN,NaN,0,0,0,0.057,15,0,--
1,02.01.2018,Canada,Alberta,2,Cryoseism,weather,NaN,NaN,0,0,0,0.012,3,0,--
2,02.01.2018,India,Maharashtra,3.2,EQ Swarm,tectonic,NaN,NaN,0,0,NaN,0.422,176,0,--
3,02.01.2018,Algeria,Blida,5.1,Earthquake,tectonic,10,V,0,2,NaN,0.182,1,NaN,--
4,03.01.2018,El Salvador,OS La Libertad,5.1,Earthquake,tectonic,80,V,0,0,0,0.016,4,0,--
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,26.12.2018,Italy,Sicily,4.9,Earthquake,volcanic,1,VIII,0,28,1096,1.961,5048,505,--
318,27.12.2018,Venezuela,Carabobo,5.5,Earthquake,tectonic,10,VII,NaN,NaN,NaN,0.287,100,NaN,--
319,28.12.2018,Indonesia,Papua Barat,5.7,Earthquake,tectonic,41,NaN,0,0,0,0.02,5,0,--
320,29.12.2018,Mexico,Nuevo Leon,4.2,Earthquake,NaN,NaN,NaN,NaN,NaN,NaN,0.012,3,NaN,--
321,30.12.2018,Thailand,Kanchanaburi,4.9,Earthquake,tectonic,NaN,NaN,0,0,0,0.004,1,0,--

In [113]:
data_2019=data_2019.drop(['Lat','Long'], axis=1)
data_2019

,Date (UTC),Country (Epicenter),Region (Epicenter),Magnitude,Type,Origin,Depth (km),Intensity (MMI / JMA),Fatalities,Injuries,displaced,Impact value (D),buildings damaged,buildings destroyed,Tsunami height
0,01.01.2019,Italy,Abruzzo,4.1,earthquake,tectonic,17.0,V,0,0,0,0.027,7.0,0,--
1,03.01.2019,Mexico,Veracruz,4.2,earthquake,tectonic,5.0,NaN,0,0,0,0.031,8.0,0,--
2,03.01.2019,China,Sichuan,5.3,aftershock,tectonic,15.0,VII,0,1,251,1.151,753.0,44,--
3,03.01.2019,Japan,Kumamoto,5,aftershock,tectonic,10.0,6-,0,3,0,0.261,7.0,0,--
4,04.01.2019,Albania,Vlore,4.8,earthquake,tectonic,28.0,NaN,0,0,0,0.020,5.0,0,--
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322,27.12.2019,Iran,Bushehr,4.9,earthquake,tectonic,10.0,NaN,0,0,0,0.020,5.0,0,--
323,27.12.2019,Turkey,Elazig,4.9,earthquake,tectonic,5.0,NaN,0,0,0,0.032,5.0,1,--
324,28.12.2019,USA,Puerto Rico,"4,7",EQ swarm,tectonic,6.0,V,0,0,0,0.012,3.0,0,--
325,30.12.2019,Iran,Hormozgan,"5,4",earthquake,tectonic,NaN,NaN,0,4,5,0.336,NaN,2,--
326,30.12.2019,Pakistan,Gilgit-Baltistan,"5,4",earthquake,tectonic,NaN,NaN,NaN,NaN,100,0.711,250.0,NaN,--

In [114]:
data_2020=data_2020.drop(['Lat','Long'], axis=1)
data_2020

,Date (UTC),Epicenter,Region (Epicenter),Magnitude,Type,Origin,Depth (km),Intensity (MMI / JMA),Fatalities,Injuries,displaced,Impact value (D),buildings damaged,buildings destroyed,Tsunami height
0,02.01.2020,Iran,Ravazi-Chorasan,5.8,earthquake,tectonic,8.0,NaN,0.0,1.0,100.0,0.610,100.0,2.0,--
1,03.01.2020,India,Gujarat,3.2,earthquake,tectonic,NaN,NaN,0.0,0.0,0.0,0.020,5.0,0.0,--
2,03.01.2020,Ecuador,El Oro,5.0,earthquake,tectonic,60.0,NaN,0.0,0.0,0.0,0.004,1.0,0.0,--
3,05.01.2020,Mexico,Oaxaca,5.8,earthquake,tectonic,97.0,VI,0.0,0.0,NaN,0.487,225.0,NaN,--
4,06.01.2020,USA,Puerto Rico,5.8,EQ sequence,tectonic,6.0,NaN,0.0,0.0,5.0,0.294,75.0,6.0,--
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,13.03.2020,Tanzania,Tanga,4.8,earthquake,tectonic,15.0,NaN,0.0,0.0,0.0,0.008,2.0,0.0,--
84,14.03.2020,Iran,Qom,4.0,earthquake,tectonic,10.0,NaN,0.0,0.0,0.0,0.038,10.0,0.0,--
85,15.03.2020,Iran,Hormozgan,5.4,earthquake,tectonic,16.0,NaN,0.0,2.0,NaN,0.236,20.0,1.0,--
86,16.03.2020,India,Rajasthan,3.1,earthquake,tectonic,NaN,NaN,0.0,0.0,0.0,0.008,2.0,0.0,--
87,18.03.2020,USA,Utah,5.7,earthquake,tectonic,11.0,NaN,NaN,NaN,NaN,0.000,NaN,NaN,NaN

In [115]:

Pickle=pd.concat([data_2018,data_2019,data_2020], ignore_index=True)
Pickle

,Date (UTC),Country (Epicenter),Region (Epicenter),Magnitude,Type,Origin,Depth (km),Intensity (MMI / JMA),Fatalities,Injuries,displaced,Impact value (D),buildings damaged,buildings destroyed,Tsunami height,Epicenter
0,02.01.2018,Greece,Central Macedonia,4.7,Earthquake,tectonic,NaN,NaN,0,0,0,0.057,15,0,--,NaN
1,02.01.2018,Canada,Alberta,2,Cryoseism,weather,NaN,NaN,0,0,0,0.012,3,0,--,NaN
2,02.01.2018,India,Maharashtra,3.2,EQ Swarm,tectonic,NaN,NaN,0,0,NaN,0.422,176,0,--,NaN
3,02.01.2018,Algeria,Blida,5.1,Earthquake,tectonic,10,V,0,2,NaN,0.182,1,NaN,--,NaN
4,03.01.2018,El Salvador,OS La Libertad,5.1,Earthquake,tectonic,80,V,0,0,0,0.016,4,0,--,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
732,13.03.2020,NaN,Tanga,4.8,earthquake,tectonic,15,NaN,0,0,0,0.008,2,0,--,Tanzania
733,14.03.2020,NaN,Qom,4,earthquake,tectonic,10,NaN,0,0,0,0.038,10,0,--,Iran
734,15.03.2020,NaN,Hormozgan,5.4,earthquake,tectonic,16,NaN,0,2,NaN,0.236,20,1,--,Iran
735,16.03.2020,NaN,Rajasthan,3.1,earthquake,tectonic,NaN,NaN,0,0,0,0.008,2,0,--,India
736,18.03.2020,NaN,Utah,5.7,earthquake,tectonic,11,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,USA

In [116]:
lister=['Date (UTC)','Country (Epicenter)','Magnitude', 'Depth (km)','Intensity (MMI / JMA)','Fatalities','Injuries','displaced','buildings damaged','buildings destroyed']
Raw=Pickle[lister]
test=Raw

In [117]:
lister=['Country (Epicenter)','Magnitude', 'Depth (km)','Fatalities','Injuries','displaced','buildings damaged','buildings destroyed']
def conversion(title,column):
    title[column]=title[column].str.replace(',','.')
    title[column]=title[column].str.replace('#',' ')
    title[column]=title[column].str.strip('/')
    title[column]=title[column].fillna(0)
    title[column]=pd.to_numeric(title[column])
    return(title)

def where(title,column):
    return (title[pd.to_numeric(title[column], errors='coerce').isnull()])

for i in range(1,len(lister)):
    test=conversion(test,lister[i])

C:\Users\paulm\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\paulm\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\paulm\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\paulm\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\paulm\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [118]:
Raw

,Date (UTC),Country (Epicenter),Magnitude,Depth (km),Intensity (MMI / JMA),Fatalities,Injuries,displaced,buildings damaged,buildings destroyed
0,02.01.2018,Greece,4.7,0.0,NaN,0,0,0,15,0
1,02.01.2018,Canada,2.0,0.0,NaN,0,0,0,3,0
2,02.01.2018,India,3.2,0.0,NaN,0,0,0,176,0
3,02.01.2018,Algeria,5.1,10.0,V,0,2,0,1,0
4,03.01.2018,El Salvador,5.1,80.0,V,0,0,0,4,0
...,...,...,...,...,...,...,...,...,...,...
732,13.03.2020,NaN,0.0,0.0,NaN,0,0,0,0,0
733,14.03.2020,NaN,0.0,0.0,NaN,0,0,0,0,0
734,15.03.2020,NaN,0.0,0.0,NaN,0,0,0,0,0
735,16.03.2020,NaN,0.0,0.0,NaN,0,0,0,0,0
736,18.03.2020,NaN,0.0,0.0,NaN,0,0,0,0,0

In [121]:
for i in test['buildings destroyed']:
    print(i)

0
0
0
0
0
52
0
0
0
0
1
0
0
0
0
0
0
0
4
10
0
8
0
443
0
0
0
0
0
20
906
0
0
0
0
1
20
0
0
0
0
0
0
0
0
0
0
41
0
0
0
0
0
0
2920
0
0
3
0
11761
0
0
0
0
0
0
0
0
0
0
1
0
1
0
0
0
1
0
9
1
0
1
0
0
0
7
0
0
0
0
1
0
0
100
0
6
4
0
0
0
0
231
0
0
0
77
0
0
0
0
0
1400
0
0
0
0
0
0
11
0
0
0
0
0
283
0
0
0
0
0
0
0
0
0
2
0
0
0
0
0
0
1833
2
8
0
0
0
0
0
100
0
28
86
15
0
475
15
0
0
1
0
1
0
0
30
0
0
2
0
0
0
0
0
0
96
0
0
0
18
0
120
0
15
0
0
0
9836
0
0
32016
0
0
0
0
0
900
0
2
0
0
30
0
0
1054
2000
0
5
0
50
7
20
0
0
0
0
0
0
500
0
5
1
0
0
10
25588
0
0
2032
383
0
5096
1
0
0
0
0
6
0
0
0
0
0
1
32979
0
0
10
0
0
0
0
2102
0
0
0
397
0
0
0
0
0
0
124
12
0
0
0
12
0
0
0
0
0
0
0
0
0
0
0
0
0
22
2
0
0
2
0
0
0
0
31
0
600
0
0
0
60
0
297
0
0
4
0
0
0
0
0
10
246
0
0
0
0
0
108
40
0
505
0
0
0
0
0
0
44
0
0
0
0
0
0
0
0
0
0
0
0
0
17
0
0
0
0
1
0
185
0
0
0
0
2
0
0
0
0
0
0
0
17
17
0
0
0
7
0
0
1
0
0
658
0
1
0
0
0
0
0
0
0
2
0
0
10
0
10
0
0
0
11000
0
0
29
0
0
0
0
0
0
0
0
0
1
2
0
0
876
0
139
0
0
4
4
0
0
0
2
0
149
0
0
4
0
0
0
479
0
0
0
0
0
0
0
1115
1
10
0
130
0
8
0
130
0
0
0
33
0
0
0
0
0
0
1444
1444
0
0
97
0
0
0
16000
33
34
0
0
4
0
0
0
0
0
0
100
10
0
0
0
0
0
0
0
39
0
500
4
0
1
67
0
0
1256
2
0
90
0
0
0
0
1
0
185
0
0
0
0
0
0
0
55
0
0
0
0
108
1
0
0
8
1
0
0
2
1
0
0
0
0
0
0
0
0
10
293
0
0
0
1
0
0
0
1
0
0
1
0
0
0
35
0
0
0
1765
2712
0
0
0
0
0
0
0
0
0
0
0
0
1
0
2
0
0
0
0
1312
0
0
0
0
0
0
0
0
0
28
0
25795
1
25795
0
2
8
0
0
0
1000
900
0
0
0
0
0
0
0
0
0
0
0
459
0
3
0
0
24
24
0
0
24
0
24
0
11490
0
0
0
0
0
0
0
0
0
0
0
0
0
1
7324
0
173
0
0
0
0
0
1
0
7
0
1
0
2
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [123]:
Raw.head(10)

,Date (UTC),Country (Epicenter),Magnitude,Depth (km),Intensity (MMI / JMA),Fatalities,Injuries,displaced,buildings damaged,buildings destroyed
0,02.01.2018,Greece,4.7,0.0,NaN,0,0,0,15,0
1,02.01.2018,Canada,2.0,0.0,NaN,0,0,0,3,0
2,02.01.2018,India,3.2,0.0,NaN,0,0,0,176,0
3,02.01.2018,Algeria,5.1,10.0,V,0,2,0,1,0
4,03.01.2018,El Salvador,5.1,80.0,V,0,0,0,4,0
5,03.01.2018,China,4.6,10.0,NaN,0,0,0,727,52
6,04.01.2018,USA,4.4,13.0,V,0,0,0,1,0
7,04.01.2018,Montenegro,5.3,14.0,VII,0,0,20,1655,0
8,04.01.2018,China,4.3,8.0,NaN,0,0,46,30,0
9,06.01.2018,Iran,5.1,8.0,NaN,0,51,0,0,0