Earthquake Impact Data Sets: Upload the CSVs and synthesize into one data frame

In [80]:
import pandas as pd

In [81]:
data_2017 = pd.read_csv("2017_raw.csv", encoding = "ISO-8859-1").dropna(axis = 0, how = "all")
data_2018 = pd.read_csv("2018_raw.csv", encoding = "ISO-8859-1").dropna(axis = 0, how = "all")
data_2019 = pd.read_csv("2019_raw.csv", encoding = "ISO-8859-1").dropna(axis = 0, how = "all")
data_2020 = pd.read_csv("2020_raw.csv", encoding = "ISO-8859-1").dropna(axis = 0, how = "all", thresh = 2)

In [82]:
#Clean 2020 Data
data_2020 = data_2020.drop('Depth (km)', axis = 1).drop('Intensity (MMI / JMA)', axis = 1).drop('Type', axis = 1).drop('Origin', axis = 1).drop('Tsunami height', axis = 1)
data_2020 = data_2020.fillna(value = 0)

In [83]:
data_2019 = data_2019.drop('Depth (km)', axis = 1).drop('Intensity (MMI / JMA)', axis = 1).drop('Type', axis = 1).drop('Origin', axis = 1).drop('Tsunami height', axis = 1)
data_2019 = data_2019.fillna(value = 0).replace("--", "0")

In [84]:
data_2018 = data_2018.drop('Depth (km)', axis = 1).drop('Intensity (MMI / JMA)', axis = 1).drop('Type', axis = 1).drop('Origin', axis = 1).drop('Tsunami height', axis = 1)
data_2018 = data_2018.fillna(value = 0).replace("--", "0")

In [85]:
latlong_2018 = [0 for _ in range(0, len(data_2018.index))]
data_2018.insert(loc = 4, column = 'Lat', value = latlong_2018)
data_2018.insert(loc = 5, column = 'Long', value = latlong_2018)

In [86]:
data_2017 = data_2017.drop('Depth (km)', axis = 1).drop('Intensity (MMI)', axis = 1).drop('Tsunami height', axis = 1)
data_2017 = data_2017.fillna(value = 0).replace("--", "0")

In [87]:
latlong_2017 = [0 for _ in range(0, len(data_2017.index))]
data_2017.insert(loc = 4, column = 'Lat', value = latlong_2017)
data_2017.insert(loc = 5, column = 'Long', value = latlong_2017)
data_2017 = data_2017.rename(columns = {"Impact coefficient (D)" : "Impact Value (D)"} )

In [91]:
earthquake_data = pd.concat([data_2017, data_2018, data_2019, data_2020]).reindex()

earthquake_data

C:\Users\Kathryn\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,Country,Country (Epicenter),Date (UTC),Epicenter,Fatalities,Impact Value (D),Impact value (D),Injuries,Lat,Long,Magnitude,Region,Region (Epicenter),buildings damaged,buildings destroyed,displaced
0,Italy,NaN,02.01.2017,NaN,0,0.1944,NaN,0,0,0,4.1,Umbria,NaN,0,0,30
1,India,NaN,03.01.2017,NaN,3,1.6688,NaN,49,0,0,5.5,Tripura,NaN,1456,166,600
2,Brazil,NaN,03.01.2017,NaN,0,0.7530,NaN,0,0,0,4.6,Maranhao,NaN,500,0,0
3,Fiji,NaN,03.01.2017,NaN,0,0.0000,NaN,0,0,0,7.2,Western Division (OS),NaN,0,0,0
4,Iran,NaN,06.01.2017,NaN,4,1.4479,NaN,4,0,0,5.1,Fars,NaN,400,40,905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,NaN,NaN,13.03.2020,Tanzania,0,NaN,0.008,0,-4.9,38.55,4.8,NaN,Tanga,2,0,0
84,NaN,NaN,14.03.2020,Iran,0,NaN,0.038,0,34.56,50.72,4,NaN,Qom,10,0,0
85,NaN,NaN,15.03.2020,Iran,0,NaN,0.236,2,27.2,55.32,5.4,NaN,Hormozgan,20,1,0
86,NaN,NaN,16.03.2020,India,0,NaN,0.008,0,26.9,75.3,3.1,NaN,Rajasthan,2,0,0
87,NaN,NaN,18.03.2020,USA,0,NaN,0,0,40.75,-112.08,5.7,NaN,Utah,0,0,0

In [97]:
print(data_2017.columns)
print(data_2018.columns)
print(data_2019.columns)
print(data_2020.columns)

Index(['Date (UTC)', 'Country', 'Region', 'Magnitude', 'Lat', 'Long',
       'Fatalities', 'Injuries', 'displaced', 'Impact Value (D)',
       'buildings damaged', 'buildings destroyed'],
      dtype='object')
Index(['Date (UTC)', 'Country (Epicenter)', 'Region (Epicenter)', 'Magnitude',
       'Lat', 'Long', 'Fatalities', 'Injuries', 'displaced',
       'Impact value (D)', 'buildings damaged', 'buildings destroyed'],
      dtype='object')
Index(['Date (UTC)', 'Country (Epicenter)', 'Region (Epicenter)', 'Magnitude',
       'Lat', 'Long', 'Fatalities', 'Injuries', 'displaced',
       'Impact value (D)', 'buildings damaged', 'buildings destroyed'],
      dtype='object')
Index(['Date (UTC)', 'Epicenter', 'Region (Epicenter)', 'Magnitude', 'Lat',
       'Long', 'Fatalities', 'Injuries', 'displaced', 'Impact value (D)',
       'buildings damaged', 'buildings destroyed'],
      dtype='object')

In [98]:
data_2020

,Date (UTC),Epicenter,Region (Epicenter),Magnitude,Lat,Long,Fatalities,Injuries,displaced,Impact value (D),buildings damaged,buildings destroyed
0,02.01.2020,Iran,Ravazi-Chorasan,5.8,34.03,60.37,0.0,1.0,100.0,0.610,100.0,2.0
1,03.01.2020,India,Gujarat,3.2,22.40,69.95,0.0,0.0,0.0,0.020,5.0,0.0
2,03.01.2020,Ecuador,El Oro,5.0,-3.29,-80.14,0.0,0.0,0.0,0.004,1.0,0.0
3,05.01.2020,Mexico,Oaxaca,5.8,16.42,-94.35,0.0,0.0,0.0,0.487,225.0,0.0
4,06.01.2020,USA,Puerto Rico,5.8,17.87,-66.82,0.0,0.0,5.0,0.294,75.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...
83,13.03.2020,Tanzania,Tanga,4.8,-4.90,38.55,0.0,0.0,0.0,0.008,2.0,0.0
84,14.03.2020,Iran,Qom,4.0,34.56,50.72,0.0,0.0,0.0,0.038,10.0,0.0
85,15.03.2020,Iran,Hormozgan,5.4,27.20,55.32,0.0,2.0,0.0,0.236,20.0,1.0
86,16.03.2020,India,Rajasthan,3.1,26.90,75.30,0.0,0.0,0.0,0.008,2.0,0.0
87,18.03.2020,USA,Utah,5.7,40.75,-112.08,0.0,0.0,0.0,0.000,0.0,0.0