Earthquake Impact Data Sets: Upload the CSVs and synthesize into one data frame

In [1]:
import pandas as pd

In [2]:
data_2017 = pd.read_csv("2017_raw.csv", encoding = "ISO-8859-1").dropna(axis = 0, how = "all")
data_2018 = pd.read_csv("2018_raw.csv", encoding = "ISO-8859-1").dropna(axis = 0, how = "all")
data_2019 = pd.read_csv("2019_raw.csv", encoding = "ISO-8859-1").dropna(axis = 0, how = "all")
data_2020 = pd.read_csv("2020_raw.csv", encoding = "ISO-8859-1").dropna(axis = 0, how = "all", thresh = 2)

In [3]:
#Clean 2020 Data
data_2020 = data_2020.drop('Depth (km)', axis = 1).drop('Intensity (MMI / JMA)', axis = 1).drop('Type', axis = 1).drop('Origin', axis = 1).drop('Tsunami height', axis = 1)
data_2020 = data_2020.fillna(value = 0)

In [4]:
data_2019 = data_2019.drop('Depth (km)', axis = 1).drop('Intensity (MMI / JMA)', axis = 1).drop('Type', axis = 1).drop('Origin', axis = 1).drop('Tsunami height', axis = 1)
data_2019 = data_2019.fillna(value = 0).replace("--", "0")

In [5]:
data_2018 = data_2018.drop('Depth (km)', axis = 1).drop('Intensity (MMI / JMA)', axis = 1).drop('Type', axis = 1).drop('Origin', axis = 1).drop('Tsunami height', axis = 1)
data_2018 = data_2018.fillna(value = 0).replace("--", "0")

In [6]:
latlong_2018 = [0 for _ in range(0, len(data_2018.index))]
data_2018.insert(loc = 4, column = 'Lat', value = latlong_2018)
data_2018.insert(loc = 5, column = 'Long', value = latlong_2018)

In [7]:
data_2017 = data_2017.drop('Depth (km)', axis = 1).drop('Intensity (MMI)', axis = 1).drop('Tsunami height', axis = 1)
data_2017 = data_2017.fillna(value = 0).replace("--", "0")

In [8]:
latlong_2017 = [0 for _ in range(0, len(data_2017.index))]
data_2017.insert(loc = 4, column = 'Lat', value = latlong_2017)
data_2017.insert(loc = 5, column = 'Long', value = latlong_2017)
data_2017 = data_2017.rename(columns = {"Impact coefficient (D)" : "Impact Value (D)"} )

In [9]:
earthquake_data = pd.concat([data_2017, data_2018, data_2019, data_2020]).reindex()

earthquake_data

,Date (UTC),Country,Region,Magnitude,Lat,Long,Fatalities,Injuries,displaced,Impact Value (D),buildings damaged,buildings destroyed,Country (Epicenter),Region (Epicenter),Impact value (D),Epicenter
0,1/2/2017,Italy,Umbria,4.1,0.00,0.00,0.0,0.0,30.0,0.194401,0.0,0.0,NaN,NaN,NaN,NaN
1,1/3/2017,India,Tripura,5.5,0.00,0.00,3.0,49.0,600.0,1.668774,1456.0,166.0,NaN,NaN,NaN,NaN
2,1/3/2017,Brazil,Maranhao,4.6,0.00,0.00,0.0,0.0,0.0,0.752967,500.0,0.0,NaN,NaN,NaN,NaN
3,1/3/2017,Fiji,Western Division (OS),7.2,0.00,0.00,0.0,0.0,0.0,0.000000,0.0,0.0,NaN,NaN,NaN,NaN
4,1/6/2017,Iran,Fars,5.1,0.00,0.00,4.0,4.0,905.0,1.447852,400.0,40.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,3/13/2020,NaN,NaN,2.8,9.79,76.88,0.0,0.0,0.0,NaN,10.0,0.0,NaN,Kerala,0.038254,India
76,3/13/2020,NaN,NaN,4.8,-4.90,38.55,0.0,0.0,0.0,NaN,2.0,0.0,NaN,Tanga,0.007925,Tanzania
77,3/14/2020,NaN,NaN,4.0,34.56,50.72,0.0,0.0,0.0,NaN,10.0,0.0,NaN,Qom,0.038254,Iran
78,3/15/2020,NaN,NaN,5.4,27.20,55.32,0.0,2.0,0.0,NaN,20.0,1.0,NaN,Hormozgan,0.235972,Iran
79,3/16/2020,NaN,NaN,3.1,26.90,75.30,0.0,0.0,0.0,NaN,2.0,0.0,NaN,Rajasthan,0.007925,India

In [10]:
print(data_2017.columns)
print(data_2018.columns)
print(data_2019.columns)
print(data_2020.columns)

Index(['Date (UTC)', 'Country', 'Region', 'Magnitude', 'Lat', 'Long',
       'Fatalities', 'Injuries', 'displaced', 'Impact Value (D)',
       'buildings damaged', 'buildings destroyed'],
      dtype='object')
Index(['Date (UTC)', 'Country (Epicenter)', 'Region (Epicenter)', 'Magnitude',
       'Lat', 'Long', 'Fatalities', 'Injuries', 'displaced',
       'Impact value (D)', 'buildings damaged', 'buildings destroyed'],
      dtype='object')
Index(['Date (UTC)', 'Country (Epicenter)', 'Region (Epicenter)', 'Magnitude',
       'Lat', 'Long', 'Fatalities', 'Injuries', 'displaced',
       'Impact value (D)', 'buildings damaged', 'buildings destroyed'],
      dtype='object')
Index(['Date (UTC)', 'Epicenter', 'Region (Epicenter)', 'Magnitude', 'Lat',
       'Long', 'Fatalities', 'Injuries', 'displaced', 'Impact value (D)',
       'buildings damaged', 'buildings destroyed'],
      dtype='object')

In [11]:
data_2020

,Date (UTC),Epicenter,Region (Epicenter),Magnitude,Lat,Long,Fatalities,Injuries,displaced,Impact value (D),buildings damaged,buildings destroyed
0,1/2/2020,Iran,Ravazi-Chorasan,5.8,34.03,60.37,0,1,100.0,0.609547,100.0,2.0
1,1/3/2020,India,Gujarat,3.2,22.40,69.95,0,0,0.0,0.019548,5.0,0.0
2,1/3/2020,Ecuador,El Oro,5.0,-3.29,-80.14,0,0,0.0,0.003981,1.0,0.0
3,1/5/2020,Mexico,Oaxaca,5.8,16.42,-94.35,0,0,0.0,0.487388,225.0,0.0
4,1/6/2020,USA,Puerto Rico,5.8,17.87,-66.82,0,0,5.0,0.294345,75.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...
75,3/13/2020,India,Kerala,2.8,9.79,76.88,0,0,0.0,0.038254,10.0,0.0
76,3/13/2020,Tanzania,Tanga,4.8,-4.90,38.55,0,0,0.0,0.007925,2.0,0.0
77,3/14/2020,Iran,Qom,4.0,34.56,50.72,0,0,0.0,0.038254,10.0,0.0
78,3/15/2020,Iran,Hormozgan,5.4,27.20,55.32,0,2,0.0,0.235972,20.0,1.0
79,3/16/2020,India,Rajasthan,3.1,26.90,75.30,0,0,0.0,0.007925,2.0,0.0

In [12]:
data_2017

,Date (UTC),Country,Region,Magnitude,Lat,Long,Fatalities,Injuries,displaced,Impact Value (D),buildings damaged,buildings destroyed
0,1/2/2017,Italy,Umbria,4.1,0,0,0.0,0.0,30.0,0.194401,0.0,0.0
1,1/3/2017,India,Tripura,5.5,0,0,3.0,49.0,600.0,1.668774,1456.0,166.0
2,1/3/2017,Brazil,Maranhao,4.6,0,0,0.0,0.0,0.0,0.752967,500.0,0.0
3,1/3/2017,Fiji,Western Division (OS),7.2,0,0,0.0,0.0,0.0,0.000000,0.0,0.0
4,1/6/2017,Iran,Fars,5.1,0,0,4.0,4.0,905.0,1.447852,400.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
274,12/21/2017,Iran,Kerman,5.2,0,0,0.0,42.0,8550.0,2.363290,500.0,1700.0
275,12/22/2017,Mexico,Veracruz,4.3,0,0,0.0,0.0,0.0,0.019789,5.0,0.0
276,12/25/2017,Iran,Kerman (aftershock),4.7,0,0,0.0,5.0,0.0,0.414190,0.0,10.0
277,12/26/2017,Iran,Tehran (aftershock),4.2,0,0,1.0,75.0,0.0,1.326521,0.0,0.0
278,12/27/2017,Iran,Kerman (aftershock),5.1,0,0,0.0,1.0,0.0,0.099031,0.0,0.0