In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import scipy as sci
from requests import get

In [2]:
url = 'https://www.worldatlas.com/cntycont.htm'
url2='https://www.nationmaster.com/country-info/stats/Geography/Land-area/Square-miles'

In [3]:
response=get(url)
soup=BeautifulSoup(response.text,'html.parser')

In [19]:
Tropicanna=soup.find('div',class_="miscTxt")
continents=Tropicanna.find_all('h2')
cont_counts=Tropicanna.find_all('ul')
top=cont_counts[1].find_all('li')
Conts=[con.get_text() for con in continents]
Countries=[]
Continets=[]
for j in range(len(Conts)-2):
    stuff=Conts[j]
    top=cont_counts[j].find_all('li')
    for steel in top:
        Countries.append(steel.get_text())
        Continets.append(stuff)
Conts

['AFRICA (54)',
 'ASIA (44)\n',
 '\nEUROPE (47)\n',
 '\nN. AMERICA (23)\n',
 '\nOCEANIA (14)',
 '\nS. AMERICA (12)',
 'About the Author',
 'Trending on WorldAtlas']

In [40]:
ConCun=pd.DataFrame(zip(Countries,Continets), columns=['Country','Continets'])
ConCun['Continets']=ConCun['Continets'].str.replace('(','').str.replace(')','').str.replace('\n','')
ConCun['Continets']=[title[0:len(title)-3] for title in ConCun['Continets']]
ConCun

       Country   Continets
0      Algeria      AFRICA
1       Angola      AFRICA
2        Benin      AFRICA
3     Botswana      AFRICA
4      Burkina      AFRICA
..         ...         ...
189   Paraguay  S. AMERICA
190       Peru  S. AMERICA
191   Suriname  S. AMERICA
192    Uruguay  S. AMERICA
193  Venezuela  S. AMERICA

[194 rows x 2 columns]

In [41]:
response1=get(url2)
sauce=BeautifulSoup(response1.text,'html.parser')

In [42]:
tim=sauce.find('tbody')
info=tim.find_all('tr')
country=[]
land=[]
for i in range(0,len(info)):
    test=info[i].find_all('td')
    country.append(test[1].get_text())
    land.append(test[2].get_text().strip())
land

['6.6 million square miles',
 '3.8 million square miles',
 '3.8 million square miles',
 '3.7 million square miles',
 '3.3 million square miles',
 '2.9 million square miles',
 '1.24 million square miles',
 '1.1 million square miles',
 '1,000,000 square miles',
 '919,595 square miles',
 '905,354 square miles',
 '864,869 square miles',
 '758,449 square miles',
 '742,308 square miles',
 '728,215 square miles',
 '685,524 square miles',
 '636,313 square miles',
 '603,909 square miles',
 '496,225 square miles',
 '495,800 square miles',
 '489,000 square miles',
 '482,077 square miles',
 '481,354 square miles',
 '470,693 square miles',
 '440,831 square miles',
 '437,794 square miles',
 '424,164 square miles',
 '398,000 square miles',
 '386,874 square miles',
 '364,900 square miles',
 '356,669 square miles',
 '340,561 square miles',
 '339,697 square miles',
 '318,261 square miles',
 '313,661 square miles',
 '300,948 square miles',
 '291,930 square miles',
 '290,586 square miles',
 '274,461 square miles',
 '261,218 square miles',
 '251,773 square miles',
 '246,201 square miles',
 '239,285 square miles',
 '233,090 square miles',
 '226,658 square miles',
 '224,961 square miles',
 '224,607 square miles',
 '210,026 square miles',
 '207,286 square miles',
 '198,115 square miles',
 '195,363 square miles',
 '188,456 square miles',
 '183,568 square miles',
 '178,704 square miles',
 '173,732 square miles',
 '172,700 square miles',
 '169,235 square miles',
 '157,048 square miles',
 '150,873 square miles',
 '148,129 square miles',
 '145,894 square miles',
 '137,849 square miles',
 '130,559 square miles',
 '127,355 square miles',
 '127,123 square miles',
 '125,004 square miles',
 '124,503 square miles',
 '120,728 square miles',
 '119,500 square miles',
 '116,346 square miles',
 '115,831 square miles',
 '105,870 square miles',
 '105,037 square miles',
 '104,454 square miles',
 '103,347 square miles',
 '94,926 square miles',
 '93,638 square miles',
 '93,072 square miles',
 '92,098 square miles',
 '91,400 square miles',
 '83,000 square miles',
 '80,153 square miles',
 '77,182 square miles',
 '75,955 square miles',
 '71,498 square miles',
 '69,898 square miles',
 '68,037 square miles',
 '63,378 square miles',
 '63,037 square miles',
 '55,598 square miles',
 '55,251 square miles',
 '50,949 square miles',
 '47,399 square miles',
 '46,430 square miles',
 '45,747 square miles',
 '45,300 square miles',
 '43,484 square miles',
 '43,433 square miles',
 '42,855 square miles',
 '42,803 square miles',
 '39,769 square miles',
 '38,345 square miles',
 '38,250 square miles',
 '35,919 square miles',
 '35,655 square miles',
 '34,492 square miles',
 '34,116 square miles',
 '33,400 square miles',
 '32,383 square miles',
 '30,450 square miles',
 '30,000 square miles',
 '29,157 square miles',
 '27,699 square miles',
 '27,097 square miles',
 '26,911 square miles',
 '25,332 square miles',
 '25,212 square miles',
 '24,938 square miles',
 '21,925 square miles',
 '21,851 square miles',
 '19,730 square miles',
 '18,932 square miles',
 '17,462 square miles',
 '16,640 square miles',
 '16,164 square miles',
 '15,940 square miles',
 '14,812 square miles',
 '13,972 square miles',
 '13,948 square miles',
 '13,050 square miles',
 '11,787 square miles',
 '11,720 square miles',
 '11,484 square miles',
 '10,830 square miles',
 '10,740 square miles',
 '10,714 square miles',
 '10,639 square miles',
 '10,169 square miles',
 '9,928 square miles',
 '8,950 square miles',
 '8,867 square miles',
 '8,522 square miles',
 '8,124 square miles',
 '7,827 square miles',
 '7,172 square miles',
 '7,095 square miles',
 '6,880 square miles',
 '6,704 square miles',
 '5,641 square miles',
 '5,382 square miles',
 '5,333 square miles',
 '4,707 square miles',
 '4,416 square miles',
 '4,361 square miles',
 '4,243 square miles',
 '4,036 square miles',
 '3,572 square miles',
 '3,459 square miles',
 '2,226 square miles',
 '1,980 square miles',
 '1,609 square miles',
 '1,557 square miles',
 '1,093 square miles',
 '999 square miles',
 '788 square miles',
 '719 square miles',
 '424 square miles',
 '386 square miles',
 '313 square miles',
 '290 square miles',
 '289 square miles',
 '277 square miles',
 '270 square miles',
 '255 square miles',
 '209 square miles',
 '196 square miles',
 '176 square miles',
 '170 square miles',
 '166 square miles',
 '133 square miles',
 '122 square miles',
 '104 square miles',
 '100 square miles',
 '91 square miles',
 '70 square miles',
 '61.8 square miles',
 '23.6 square miles',
 '10 square miles',
 '9 square miles',
 '8 square miles',
 '4.7 square miles',
 '0.75 square miles']

In [43]:
landmass=pd.DataFrame(zip(country,land), columns=['Country','Landarea'])

In [44]:
landmass['Country']=landmass['Country'].str.replace('\n','')

In [45]:
landmass

           Country                  Landarea
0           Russia  6.6 million square miles
1           Canada  3.8 million square miles
2    United States  3.8 million square miles
3            China  3.7 million square miles
4           Brazil  3.3 million square miles
..             ...                       ...
187         Tuvalu           10 square miles
188          Macau            9 square miles
189          Nauru            8 square miles
190        Tokelau          4.7 square miles
191         Monaco         0.75 square miles

[192 rows x 2 columns]

In [64]:
Information=ConCun.join(landmass.set_index('Country'), on='Country')

In [65]:
Information

       Country   Continets              Landarea
0      Algeria      AFRICA  919,595 square miles
1       Angola      AFRICA  481,354 square miles
2        Benin      AFRICA   43,484 square miles
3     Botswana      AFRICA  224,607 square miles
4      Burkina      AFRICA                   NaN
..         ...         ...                   ...
189   Paraguay  S. AMERICA  157,048 square miles
190       Peru  S. AMERICA  496,225 square miles
191   Suriname  S. AMERICA   63,037 square miles
192    Uruguay  S. AMERICA   68,037 square miles
193  Venezuela  S. AMERICA  340,561 square miles

[194 rows x 3 columns]

In [72]:
Information['Landarea']=[talk[0:5] if 'million square miles' in talk else talk for talk in Information['Landarea']]
Information

TypeError: argument of type 'float' is not iterable

In [58]:
for t in L:
    print(t)

6
.
6

m
i
l
l
i
o
n

s
q
u
a
r
e

m
i
l
e
s