Earthquake Impact Data Sets: Upload the CSVs and synthesize into one data frame

In [80]:
import pandas as pd

In [81]:
data_2017 = pd.read_csv("2017_raw.csv", encoding = "ISO-8859-1").dropna(axis = 0, how = "all")
data_2018 = pd.read_csv("2018_raw.csv", encoding = "ISO-8859-1").dropna(axis = 0, how = "all")
data_2019 = pd.read_csv("2019_raw.csv", encoding = "ISO-8859-1").dropna(axis = 0, how = "all")
data_2020 = pd.read_csv("2020_raw.csv", encoding = "ISO-8859-1").dropna(axis = 0, how = "all", thresh = 2)

In [82]:
#Clean 2020 Data
data_2020 = data_2020.drop('Depth (km)', axis = 1).drop('Intensity (MMI / JMA)', axis = 1).drop('Type', axis = 1).drop('Origin', axis = 1).drop('Tsunami height', axis = 1)
data_2020 = data_2020.fillna(value = 0)

In [83]:
data_2019 = data_2019.drop('Depth (km)', axis = 1).drop('Intensity (MMI / JMA)', axis = 1).drop('Type', axis = 1).drop('Origin', axis = 1).drop('Tsunami height', axis = 1)
data_2019 = data_2019.fillna(value = 0).replace("--", "0")

In [84]:
data_2018 = data_2018.drop('Depth (km)', axis = 1).drop('Intensity (MMI / JMA)', axis = 1).drop('Type', axis = 1).drop('Origin', axis = 1).drop('Tsunami height', axis = 1)
data_2018 = data_2018.fillna(value = 0).replace("--", "0")

In [85]:
latlong_2018 = [0 for _ in range(0, len(data_2018.index))]
data_2018.insert(loc = 4, column = 'Lat', value = latlong_2018)
data_2018.insert(loc = 5, column = 'Long', value = latlong_2018)

In [86]:
data_2017 = data_2017.drop('Depth (km)', axis = 1).drop('Intensity (MMI)', axis = 1).drop('Tsunami height', axis = 1)
data_2017 = data_2017.fillna(value = 0).replace("--", "0")

In [87]:
latlong_2017 = [0 for _ in range(0, len(data_2017.index))]
data_2017.insert(loc = 4, column = 'Lat', value = latlong_2017)
data_2017.insert(loc = 5, column = 'Long', value = latlong_2017)
data_2017 = data_2017.rename(columns = {"Impact coefficient (D)" : "Impact Value (D)"} )

In [88]:
data_2017

,Date (UTC),Country,Region,Magnitude,Lat,Long,Fatalities,Injuries,displaced,Impact Value (D),buildings damaged,buildings destroyed
0,02.01.2017,Italy,Umbria,4.1,0,0,0,0,30,0.1944,0,0
1,03.01.2017,India,Tripura,5.5,0,0,3,49,600,1.6688,1456,166
2,03.01.2017,Brazil,Maranhao,4.6,0,0,0,0,0,0.7530,500,0
3,03.01.2017,Fiji,Western Division (OS),7.2,0,0,0,0,0,0.0000,0,0
4,06.01.2017,Iran,Fars,5.1,0,0,4,4,905,1.4479,400,40
...,...,...,...,...,...,...,...,...,...,...,...,...
274,21.12.2017,Iran,Kerman,5.2,0,0,0,42,8550,2.3633,500,1700
275,22.12.2017,Mexico,Veracruz,4.3,0,0,0,0,0,0.0198,5,0
276,25.12.2017,Iran,Kerman (aftershock),4.7,0,0,0,5,0,0.4142,0,10
277,26.12.2017,Iran,Tehran (aftershock),4.2,0,0,1,75,0,1.3265,0,0
278,27.12.2017,Iran,Kerman (aftershock),5.1,0,0,0,1,0,0.0990,0,0

In [89]:
data_2018

,Date (UTC),Country (Epicenter),Region (Epicenter),Magnitude,Lat,Long,Fatalities,Injuries,displaced,Impact value (D),buildings damaged,buildings destroyed
0,02.01.2018,Greece,Central Macedonia,4.7,0,0,0,0,0,0.057,15,0
1,02.01.2018,Canada,Alberta,2,0,0,0,0,0,0.012,3,0
2,02.01.2018,India,Maharashtra,3.2,0,0,0,0,0,0.422,176,0
3,02.01.2018,Algeria,Blida,5.1,0,0,0,2,0,0.182,1,0
4,03.01.2018,El Salvador,OS La Libertad,5.1,0,0,0,0,0,0.016,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...
317,26.12.2018,Italy,Sicily,4.9,0,0,0,28,1096,1.961,5048,505
318,27.12.2018,Venezuela,Carabobo,5.5,0,0,0,0,0,0.287,100,0
319,28.12.2018,Indonesia,Papua Barat,5.7,0,0,0,0,0,0.02,5,0
320,29.12.2018,Mexico,Nuevo Leon,4.2,0,0,0,0,0,0.012,3,0
321,30.12.2018,Thailand,Kanchanaburi,4.9,0,0,0,0,0,0.004,1,0