In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import scipy as sci
from requests import get

In [2]:
data_2017 = pd.read_csv("2017_raw.csv", encoding = "ISO-8859-1").dropna(axis = 0, how = "all")
data_2018 = pd.read_csv("2018_raw.csv", encoding = "ISO-8859-1").dropna(axis = 0, how = "all")
data_2019 = pd.read_csv("2019_raw.csv", encoding = "ISO-8859-1").dropna(axis = 0, how = "all")
data_2020 = pd.read_csv("2020_raw.csv", encoding = "ISO-8859-1").dropna(axis = 0, how = "all", thresh = 2)

In [3]:
data_2017

,Date (UTC),Country,Region,Magnitude,Depth (km),Intensity (MMI),Fatalities,Injuries,displaced,Impact coefficient (D),buildings damaged,buildings destroyed,Tsunami height
0,1/2/2017,Italy,Umbria,4.1,8.0,V,0.0,0.0,30.0,0.194401,NaN,0.0,--
1,1/3/2017,India,Tripura,5.5,35.0,NaN,3.0,49.0,600.0,1.668774,1456.0,166.0,--
2,1/3/2017,Brazil,Maranhao,4.6,NaN,NaN,0.0,0.0,0.0,0.752967,500.0,0.0,--
3,1/3/2017,Fiji,Western Division (OS),7.2,16.0,IV,0.0,0.0,0.0,0.000000,0.0,0.0,1 cm
4,1/6/2017,Iran,Fars,5.1,4.0,NaN,4.0,4.0,905.0,1.447852,400.0,40.0,--
...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,12/21/2017,Iran,Kerman,5.2,NaN,NaN,0.0,42.0,8550.0,2.363290,500.0,1700.0,--
275,12/22/2017,Mexico,Veracruz,4.3,NaN,NaN,0.0,0.0,0.0,0.019789,5.0,0.0,--
276,12/25/2017,Iran,Kerman (aftershock),4.7,7.0,NaN,0.0,5.0,NaN,0.414190,NaN,10.0,--
277,12/26/2017,Iran,Tehran (aftershock),4.2,13.0,NaN,1.0,75.0,0.0,1.326521,0.0,0.0,--
278,12/27/2017,Iran,Kerman (aftershock),5.1,9.0,NaN,0.0,1.0,NaN,0.099031,NaN,NaN,--

In [4]:
data_2018

,Date (UTC),Country (Epicenter),Region (Epicenter),Magnitude,Type,Origin,Depth (km),Intensity (MMI / JMA),Fatalities,Injuries,displaced,Impact value (D),buildings damaged,buildings destroyed,Tsunami height
0,1/2/2018,Greece,Central Macedonia,4.7,Earthquake,tectonic,NaN,NaN,0.0,0.0,0.0,0.056990,15.0,0.0,--
1,1/2/2018,Canada,Alberta,2.0,Cryoseism,weather,NaN,NaN,0.0,0.0,0.0,0.012012,3.0,0.0,--
2,1/2/2018,India,Maharashtra,3.2,EQ Swarm,tectonic,NaN,NaN,0.0,0.0,NaN,0.422473,176.0,0.0,--
3,1/2/2018,Algeria,Blida,5.1,Earthquake,tectonic,10,V,0.0,2.0,NaN,0.181194,1.0,NaN,--
4,1/3/2018,El Salvador,OS La Libertad,5.1,Earthquake,tectonic,80,V,0.0,0.0,0.0,0.015943,4.0,0.0,--
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,12/26/2018,Italy,Sicily,4.9,Earthquake,volcanic,1,VIII,0.0,28.0,1096.0,1.959269,5048.0,505.0,--
294,12/27/2018,Venezuela,Carabobo,5.5,Earthquake,tectonic,10,VII,NaN,NaN,NaN,0.286641,100.0,NaN,--
295,12/28/2018,Indonesia,Papua Barat,5.7,Earthquake,tectonic,41,NaN,0.0,0.0,0.0,0.019839,5.0,0.0,--
296,12/29/2018,Mexico,Nuevo Leon,4.2,Earthquake,NaN,NaN,NaN,NaN,NaN,NaN,0.012012,3.0,NaN,--
297,12/30/2018,Thailand,Kanchanaburi,4.9,Earthquake,tectonic,NaN,NaN,0.0,0.0,0.0,0.004041,1.0,0.0,--

In [5]:
data_2019=data_2019.drop(['Lat','Long'], axis=1)
data_2019

,Date (UTC),Country (Epicenter),Region (Epicenter),Magnitude,Type,Origin,Depth (km),Intensity (MMI / JMA),Fatalities,Injuries,displaced,Impact value (D),buildings damaged,buildings destroyed,Tsunami height
0,1/1/2019,Italy,Abruzzo,4.1,earthquake,tectonic,17.0,V,0.0,0.0,0.0,0.027151,7.0,0.0,--
1,1/3/2019,Mexico,Veracruz,4.2,earthquake,tectonic,5.0,NaN,0.0,0.0,0.0,0.030895,8.0,0.0,--
2,1/3/2019,China,Sichuan,5.3,aftershock,tectonic,15.0,VII,0.0,1.0,251.0,1.150904,753.0,44.0,--
3,1/3/2019,Japan,Kumamoto,5.0,aftershock,tectonic,10.0,6-,0.0,3.0,0.0,0.261225,7.0,0.0,--
4,1/4/2019,Albania,Vlore,4.8,earthquake,tectonic,28.0,NaN,0.0,0.0,0.0,0.019565,5.0,0.0,--
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,12/27/2019,Iran,Bushehr,4.9,earthquake,tectonic,10.0,NaN,0.0,0.0,0.0,0.019565,5.0,0.0,--
321,12/27/2019,Turkey,Elazig,4.9,earthquake,tectonic,5.0,NaN,0.0,0.0,0.0,0.032216,5.0,1.0,--
322,12/28/2019,USA,Puerto Rico,4.7,EQ swarm,tectonic,6.0,V,0.0,0.0,0.0,0.011845,3.0,0.0,--
323,12/30/2019,Iran,Hormozgan,5.4,earthquake,tectonic,NaN,NaN,0.0,4.0,5.0,0.335912,NaN,2.0,--
324,12/30/2019,Pakistan,Gilgit-Baltistan,5.4,earthquake,tectonic,NaN,NaN,NaN,NaN,100.0,0.710722,250.0,NaN,--

In [6]:
data_2020=data_2020.drop(['Lat','Long'], axis=1)
data_2020

,Date (UTC),Epicenter,Region (Epicenter),Magnitude,Type,Origin,Depth (km),Intensity (MMI / JMA),Fatalities,Injuries,displaced,Impact value (D),buildings damaged,buildings destroyed,Tsunami height
0,1/2/2020,Iran,Ravazi-Chorasan,5.8,earthquake,tectonic,8.0,NaN,0,1,100.0,0.609547,100.0,2.0,--
1,1/3/2020,India,Gujarat,3.2,earthquake,tectonic,NaN,NaN,0,0,0.0,0.019548,5.0,0.0,--
2,1/3/2020,Ecuador,El Oro,5.0,earthquake,tectonic,60.0,NaN,0,0,0.0,0.003981,1.0,0.0,--
3,1/5/2020,Mexico,Oaxaca,5.8,earthquake,tectonic,97.0,VI,0,0,NaN,0.487388,225.0,NaN,--
4,1/6/2020,USA,Puerto Rico,5.8,EQ sequence,tectonic,6.0,NaN,0,0,5.0,0.294345,75.0,6.0,--
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,3/13/2020,India,Kerala,2.8,earthquake,reservoir induced,NaN,NaN,0,0,0.0,0.038254,10.0,0.0,--
76,3/13/2020,Tanzania,Tanga,4.8,earthquake,tectonic,15.0,NaN,0,0,0.0,0.007925,2.0,0.0,--
77,3/14/2020,Iran,Qom,4.0,earthquake,tectonic,10.0,NaN,0,0,0.0,0.038254,10.0,0.0,--
78,3/15/2020,Iran,Hormozgan,5.4,earthquake,tectonic,16.0,NaN,0,2,NaN,0.235972,20.0,1.0,--
79,3/16/2020,India,Rajasthan,3.1,earthquake,tectonic,NaN,NaN,0,0,0.0,0.007925,2.0,0.0,--

In [7]:

Pickle=pd.concat([data_2017,data_2018,data_2019,data_2020], ignore_index=True)
Pickle

,Date (UTC),Country,Region,Magnitude,Depth (km),Intensity (MMI),Fatalities,Injuries,displaced,Impact coefficient (D),buildings damaged,buildings destroyed,Tsunami height,Country (Epicenter),Region (Epicenter),Type,Origin,Intensity (MMI / JMA),Impact value (D),Epicenter
0,1/2/2017,Italy,Umbria,4.1,8,V,0.0,0.0,30.0,0.194401,NaN,0.0,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/3/2017,India,Tripura,5.5,35,NaN,3.0,49.0,600.0,1.668774,1456.0,166.0,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1/3/2017,Brazil,Maranhao,4.6,NaN,NaN,0.0,0.0,0.0,0.752967,500.0,0.0,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1/3/2017,Fiji,Western Division (OS),7.2,16,IV,0.0,0.0,0.0,0.000000,0.0,0.0,1 cm,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1/6/2017,Iran,Fars,5.1,4,NaN,4.0,4.0,905.0,1.447852,400.0,40.0,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
977,3/13/2020,NaN,NaN,2.8,NaN,NaN,0.0,0.0,0.0,NaN,10.0,0.0,--,NaN,Kerala,earthquake,reservoir induced,NaN,0.038254,India
978,3/13/2020,NaN,NaN,4.8,15,NaN,0.0,0.0,0.0,NaN,2.0,0.0,--,NaN,Tanga,earthquake,tectonic,NaN,0.007925,Tanzania
979,3/14/2020,NaN,NaN,4.0,10,NaN,0.0,0.0,0.0,NaN,10.0,0.0,--,NaN,Qom,earthquake,tectonic,NaN,0.038254,Iran
980,3/15/2020,NaN,NaN,5.4,16,NaN,0.0,2.0,NaN,NaN,20.0,1.0,--,NaN,Hormozgan,earthquake,tectonic,NaN,0.235972,Iran
981,3/16/2020,NaN,NaN,3.1,NaN,NaN,0.0,0.0,0.0,NaN,2.0,0.0,--,NaN,Rajasthan,earthquake,tectonic,NaN,0.007925,India

In [8]:
lister=['Date (UTC)','Country (Epicenter)','Magnitude', 'Depth (km)','Intensity (MMI / JMA)','Fatalities','Injuries','displaced','buildings damaged','buildings destroyed']
Raw=Pickle[lister]
test=Raw

In [9]:
lister=['Country (Epicenter)','Magnitude', 'Depth (km)','Fatalities','Injuries','displaced','buildings damaged','buildings destroyed']
def conversion(title,column):
    title[column]=title[column].str.replace(',','.')
    title[column]=title[column].str.replace('#',' ')
    title[column]=title[column].str.strip('/')
    title[column]=title[column].fillna(0)
    title[column]=pd.to_numeric(title[column])
    return(title)

def where(title,column):
    return (title[pd.to_numeric(title[column], errors='coerce').isnull()])

for i in range(len(lister)):
    print(where(test,lister[i]))

    Date (UTC) Country (Epicenter)  Magnitude Depth (km)  \
0     1/2/2017                 NaN        4.1          8
1     1/3/2017                 NaN        5.5         35
2     1/3/2017                 NaN        4.6        NaN
3     1/3/2017                 NaN        7.2         16
4     1/6/2017                 NaN        5.1          4
..         ...                 ...        ...        ...
977  3/13/2020                 NaN        2.8        NaN
978  3/13/2020                 NaN        4.8         15
979  3/14/2020                 NaN        4.0         10
980  3/15/2020                 NaN        5.4         16
981  3/16/2020                 NaN        3.1        NaN

    Intensity (MMI / JMA)  Fatalities  Injuries  displaced  buildings damaged  \
0                     NaN         0.0       0.0       30.0                NaN
1                     NaN         3.0      49.0      600.0             1456.0
2                     NaN         0.0       0.0        0.0              500.0
3                     NaN         0.0       0.0        0.0                0.0
4                     NaN         4.0       4.0      905.0              400.0
..                    ...         ...       ...        ...                ...
977                   NaN         0.0       0.0        0.0               10.0
978                   NaN         0.0       0.0        0.0                2.0
979                   NaN         0.0       0.0        0.0               10.0
980                   NaN         0.0       2.0        NaN               20.0
981                   NaN         0.0       0.0        0.0                2.0

     buildings destroyed
0                    0.0
1                  166.0
2                    0.0
3                    0.0
4                   40.0
..                   ...
977                  0.0
978                  0.0
979                  0.0
980                  1.0
981                  0.0

[982 rows x 10 columns]
     Date (UTC) Country (Epicenter)  Magnitude Depth (km)  \
87    4/10/2017                 NaN        NaN        NaN
95    4/24/2017                 NaN        NaN        NaN
112   5/15/2017                 NaN        NaN        NaN
126    6/1/2017                 NaN        NaN        NaN
210   10/7/2017                 NaN        NaN        NaN
215  10/14/2017                 NaN        NaN        NaN
222  10/21/2017                 NaN        NaN        NaN
225       Swarm                 NaN        NaN        NaN
351   3/16/2018               Kenya        NaN        NaN
354   3/23/2018               India        NaN        NaN
365    4/9/2018               India        NaN          0
412    6/3/2018               Benin        NaN        NaN
456    8/7/2018               India        NaN        NaN
496   9/12/2018               India        NaN        NaN
501   9/19/2018               India        NaN        NaN
517  10/13/2018              Brazil        NaN        NaN
741   7/13/2019               India        NaN        NaN
758     07.2019            Botswana        NaN          1
786    9/8/2019               India        NaN        NaN
796   9/16/2019               India        NaN        NaN
966    3/5/2020                 NaN        NaN        NaN

    Intensity (MMI / JMA)  Fatalities  Injuries  displaced  buildings damaged  \
87                    NaN         0.0       0.0        0.0               10.0
95                    NaN         0.0       0.0       50.0               35.0
112                   NaN         0.0       0.0        0.0               15.0
126                   NaN         0.0       0.0        0.0                1.0
210                   NaN         0.0       0.0       20.0               15.0
215                   NaN         0.0       0.0        0.0               15.0
222                   NaN         0.0       0.0        0.0                8.0
225                   NaN         0.0       0.0        0.0              125.0
351                   NaN         0.0       5.0       10.0               50.0
354                   NaN         0.0       0.0        0.0               15.0
365                   NaN         0.0       1.0       30.0                NaN
412                   NaN         0.0       0.0        0.0               10.0
456                   NaN         0.0       0.0        0.0               10.0
496                   NaN         0.0       1.0        0.0               77.0
501                   NaN         0.0       0.0        0.0               12.0
517                   NaN         0.0       0.0        0.0                1.0
741                   NaN         0.0       0.0        0.0                5.0
758                   NaN         0.0       0.0        0.0              133.0
786                   NaN         0.0       0.0        NaN               20.0
796                   NaN         0.0       0.0      100.0                NaN
966                   NaN         0.0       0.0        0.0                1.0

     buildings destroyed
87                   0.0
95                  10.0
112                  0.0
126                  0.0
210                  1.0
215                  0.0
222                  0.0
225                  0.0
351                  1.0
354                  0.0
365                  6.0
412                  0.0
456                  0.0
496                  0.0
501                  0.0
517                  0.0
741                  0.0
758                  0.0
786                  NaN
796                  1.0
966                  0.0
    Date (UTC) Country (Epicenter)  Magnitude Depth (km)  \
2     1/3/2017                 NaN        4.6        NaN
6     1/8/2017                 NaN        2.8        NaN
11   1/16/2017                 NaN        5.6        NaN
14   1/17/2017                 NaN        4.0        NaN
19   1/19/2017                 NaN        4.3        NaN
..         ...                 ...        ...        ...
970   3/7/2020                 NaN        5.2        NaN
971   3/7/2020                 NaN        5.1        NaN
975  3/11/2020                 NaN        3.7        NaN
977  3/13/2020                 NaN        2.8        NaN
981  3/16/2020                 NaN        3.1        NaN

    Intensity (MMI / JMA)  Fatalities  Injuries  displaced  buildings damaged  \
2                     NaN         0.0       0.0        0.0              500.0
6                     NaN         0.0       0.0        0.0               10.0
11                    NaN         0.0       7.0       50.0              200.0
14                    NaN         0.0       0.0        0.0               25.0
19                    NaN         0.0       0.0        0.0               10.0
..                    ...         ...       ...        ...                ...
970                   NaN         0.0       0.0        0.0                1.0
971                   NaN         0.0       0.0        0.0                3.0
975                   NaN         0.0       0.0        0.0                2.0
977                   NaN         0.0       0.0        0.0               10.0
981                   NaN         0.0       0.0        0.0                2.0

     buildings destroyed
2                    0.0
6                    0.0
11                  17.0
14                   0.0
19                   0.0
..                   ...
970                  0.0
971                  0.0
975                  0.0
977                  0.0
981                  0.0

[348 rows x 10 columns]
     Date (UTC) Country (Epicenter)  Magnitude Depth (km)  \
26    1/27/2017                 NaN        5.2        NaN
79     4/3/2017                 NaN        5.2          5
182   8/23/2017                 NaN        5.6          8
270  12/14/2017                 NaN        4.9        NaN
304   1/23/2018                Iran        4.5          9
342    3/8/2018          Mozambique        5.6          6
368   4/10/2018               India        4.6        NaN
386    5/5/2018               China        4.8        NaN
387    5/6/2018               China        5.3        NaN
393    5/9/2018            Pakistan        5.4        NaN
494    9/8/2018         Philippines        6.1         14
530   11/5/2018           Indonesia        5.5        NaN
560   12/6/2018           Indonesia        5.3        NaN
573  12/27/2018           Venezuela        5.5         10
575  12/29/2018              Mexico        4.2        NaN
638         NaN                 NaN        7.5        NaN
705   5/26/2019               India        4.7        NaN
787    9/9/2019            Tanzania        5.5        NaN
838  10/30/2019            DR Congo        5.3        NaN
840  10/31/2019                Iran        4.3          2
901  12/30/2019            Pakistan        5.4        NaN

    Intensity (MMI / JMA)  Fatalities  Injuries  displaced  buildings damaged  \
26                    NaN         NaN       NaN        NaN                NaN
79                    NaN         NaN       NaN        NaN               15.0
182                   NaN         NaN      17.0        NaN                NaN
270                   NaN         NaN       NaN        NaN               10.0
304                   NaN         NaN       NaN        NaN               20.0
342                   NaN         NaN       2.0        NaN                2.0
368                    VI         NaN       1.0        NaN               50.0
386                   NaN         NaN       NaN        NaN              300.0
387                   NaN         NaN       NaN        NaN              500.0
393                   NaN         NaN      26.0        NaN                NaN
494                   VII         NaN       NaN        NaN               34.0
530                   NaN         NaN       NaN        NaN                NaN
560                   NaN         NaN      14.0        NaN                4.0
573                  VII          NaN       NaN        NaN              100.0
575                   NaN         NaN       NaN        NaN                3.0
638                   NaN         NaN       NaN        NaN                6.0
705                   NaN         NaN       NaN        NaN               10.0
787                   NaN         NaN       2.0        NaN               50.0
838                   NaN         NaN       NaN        NaN                NaN
840                   NaN         NaN       NaN        NaN                NaN
901                   NaN         NaN       NaN      100.0              250.0

     buildings destroyed
26                   NaN
79                   NaN
182                  NaN
270                  NaN
304                 20.0
342                  NaN
368                  NaN
386                  NaN
387                  NaN
393                  NaN
494                  1.0
530                  NaN
560                  NaN
573                  NaN
575                  NaN
638                  NaN
705                  NaN
787                  NaN
838                  1.0
840                  2.0
901                  NaN
     Date (UTC) Country (Epicenter)  Magnitude Depth (km)  \
26    1/27/2017                 NaN        5.2        NaN
79     4/3/2017                 NaN        5.2          5
158   7/16/2017                 NaN        4.9         21
209   10/1/2017                 NaN        5.7        128
236  11/13/2017                 NaN        6.5         20
256  11/30/2017                 NaN        5.0        NaN
270  12/14/2017                 NaN        4.9        NaN
295   1/11/2018                Iran        5.4        NaN
297   1/11/2018             Myanmar        6.0        NaN
301   1/19/2018           OS Mexico        6.3        NaN
304   1/23/2018                Iran        4.5          9
333   2/28/2018    Papua New Guinea        6.1         16
335    3/4/2018    Papua New Guinea        6.0        NaN
337    3/6/2018    Papua New Guinea        6.7        NaN
386    5/5/2018               China        4.8        NaN
387    5/6/2018               China        5.3        NaN
420   6/17/2018            Pakistan        5.2        NaN
443   7/19/2018              Mexico        5.7         55
494    9/8/2018         Philippines        6.1         14
495   9/12/2018               India        5.3        NaN
515  10/10/2018    Papua New Guinea        7.0         40
519  10/18/2018                Iran        4.1         12
530   11/5/2018           Indonesia        5.5        NaN
563  12/15/2018             Vanuatu        5.6          5
571  12/23/2018               China        5.8        NaN
573  12/27/2018           Venezuela        5.5         10
575  12/29/2018              Mexico        4.2        NaN
600   1/20/2019               Chile        6.7         50
612    2/1/2019               India        4.1          2
616         NaN                 NaN        6.6        NaN
617    2/1/2019               China        5.2         15
638         NaN                 NaN        7.5        NaN
666         NaN                 NaN        5.6        NaN
691    5/6/2019    Papua New Guinea        7.2        127
705   5/26/2019               India        4.7        NaN
716   6/19/2019           Indonesia        6.3         13
795   9/16/2019               China        5.0         11
838  10/30/2019            DR Congo        5.3        NaN
840  10/31/2019                Iran        4.3          2
901  12/30/2019            Pakistan        5.4        NaN

    Intensity (MMI / JMA)  Fatalities  Injuries  displaced  buildings damaged  \
26                    NaN         NaN       NaN        NaN                NaN
79                    NaN         NaN       NaN        NaN               15.0
158                   NaN         0.0       NaN        NaN               49.0
209                   NaN         0.0       NaN        NaN                7.0
236                   NaN         3.0       NaN        NaN                4.0
256                   NaN         0.0       NaN        NaN               20.0
270                   NaN         NaN       NaN        NaN               10.0
295                   NaN         0.0       NaN        NaN               10.0
297                   VII         0.0       NaN        NaN                1.0
301                   NaN         0.0       NaN        NaN               12.0
304                   NaN         NaN       NaN        NaN               20.0
333                   NaN         1.0       NaN        NaN                NaN
335                   NaN        11.0       NaN        NaN                NaN
337                   NaN        25.0       NaN        NaN                NaN
386                   NaN         NaN       NaN        NaN              300.0
387                   NaN         NaN       NaN        NaN              500.0
420                   NaN         0.0       NaN        NaN                NaN
443                    VI         0.0       NaN        NaN               10.0
494                   VII         NaN       NaN        NaN               34.0
495                   NaN         1.0       NaN        NaN              100.0
515                   VII         1.0       NaN        NaN                NaN
519                   NaN         0.0       NaN        NaN               20.0
530                   NaN         NaN       NaN        NaN                NaN
563                   NaN         0.0       NaN      685.0              100.0
571                   NaN         0.0       NaN        NaN                4.0
573                  VII          NaN       NaN        NaN              100.0
575                   NaN         NaN       NaN        NaN                3.0
600                  VIII         2.0       NaN       20.0             1236.0
612                   NaN         1.0       NaN     1000.0             1400.0
616                   NaN         0.0       NaN        NaN                1.0
617                   NaN         0.0       NaN        NaN               20.0
638                   NaN         NaN       NaN        NaN                6.0
666                   NaN         1.0       NaN        NaN               25.0
691                   VII         0.0       NaN      500.0                NaN
705                   NaN         NaN       NaN        NaN               10.0
716                   VII         0.0       NaN      100.0               19.0
795                   NaN         0.0       NaN        NaN               10.0
838                   NaN         NaN       NaN        NaN                NaN
840                   NaN         NaN       NaN        NaN                NaN
901                   NaN         NaN       NaN      100.0              250.0

     buildings destroyed
26                   NaN
79                   NaN
158                  0.0
209                  NaN
236                  1.0
256                  5.0
270                  NaN
295                  NaN
297                  NaN
301                  NaN
304                 20.0
333                  NaN
335                  NaN
337                  NaN
386                  NaN
387                  NaN
420                 15.0
443                  NaN
494                  1.0
495                  NaN
515                  NaN
519                  NaN
530                  NaN
563                 10.0
571                  NaN
573                  NaN
575                  NaN
600                185.0
612                  NaN
616                  NaN
617                  NaN
638                  NaN
666                  4.0
691                130.0
705                  NaN
716                 34.0
795                  NaN
838                  1.0
840                  2.0
901                  NaN
    Date (UTC) Country (Epicenter)  Magnitude Depth (km)  \
26   1/27/2017                 NaN        5.2        NaN
37    2/6/2017                 NaN        5.6         14
40    2/8/2017                 NaN        4.9         10
46   2/12/2017                 NaN        5.2          8
48   2/13/2017                 NaN        4.4         10
..         ...                 ...        ...        ...
937  1/29/2020                 NaN        4.9         10
943   2/8/2020                 NaN        4.7         20
953  2/18/2020                 NaN        4.9         12
959  2/25/2020                 NaN        5.0          5
980  3/15/2020                 NaN        5.4         16

    Intensity (MMI / JMA)  Fatalities  Injuries  displaced  buildings damaged  \
26                    NaN         NaN       NaN        NaN                NaN
37                    NaN         0.0       2.0        NaN              100.0
40                    NaN         0.0       5.0        NaN               22.0
46                    NaN         0.0       0.0        NaN               50.0
48                    NaN         0.0       0.0        NaN               21.0
..                    ...         ...       ...        ...                ...
937                   NaN         0.0       0.0        NaN              100.0
943                   NaN         0.0       2.0        NaN                3.0
953                   NaN         0.0       0.0        NaN               50.0
959                   NaN         0.0       6.0        NaN                3.0
980                   NaN         0.0       2.0        NaN               20.0

     buildings destroyed
26                   NaN
37                  10.0
40                   NaN
46                  20.0
48                   0.0
..                   ...
937                  NaN
943                  1.0
953                  NaN
959                  NaN
980                  1.0

[212 rows x 10 columns]
     Date (UTC) Country (Epicenter)  Magnitude Depth (km)  \
0      1/2/2017                 NaN        4.1          8
26    1/27/2017                 NaN        5.2        NaN
39     2/7/2017                 NaN        6.3        NaN
49    2/13/2017                 NaN        5.2        NaN
51    2/16/2017                 NaN        5.6        NaN
..          ...                 ...        ...        ...

In [27]:
Raw

,Date (UTC),Country (Epicenter),Magnitude,Depth (km),Intensity (MMI / JMA),Fatalities,Injuries,displaced,buildings damaged,buildings destroyed
0,02.01.2017,NaN,4.1,8,NaN,0,0,30,NaN,0
1,03.01.2017,NaN,5.5,35,NaN,3,49,600,1456,166
2,03.01.2017,NaN,4.6,NaN,NaN,0,0,0,500,0
3,03.01.2017,NaN,7.2,16,NaN,0,0,0,0,0
4,06.01.2017,NaN,5.1,4,NaN,4,4,905,400,40
...,...,...,...,...,...,...,...,...,...,...
1011,13.03.2020,NaN,4.8,15,NaN,0,0,0,2,0
1012,14.03.2020,NaN,4,10,NaN,0,0,0,10,0
1013,15.03.2020,NaN,5.4,16,NaN,0,2,NaN,20,1
1014,16.03.2020,NaN,3.1,NaN,NaN,0,0,0,2,0
1015,18.03.2020,NaN,5.7,11,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
test

,Date (UTC),Country (Epicenter),Magnitude,Depth (km),Intensity (MMI / JMA),Fatalities,Injuries,displaced,buildings damaged,buildings destroyed
0,02.01.2018,Greece,4.7,0.0,NaN,0,0,0,15,0
1,02.01.2018,Canada,2.0,0.0,NaN,0,0,0,3,0
2,02.01.2018,India,3.2,0.0,NaN,0,0,0,176,0
3,02.01.2018,Algeria,5.1,10.0,V,0,2,0,1,0
4,03.01.2018,El Salvador,5.1,80.0,V,0,0,0,4,0
...,...,...,...,...,...,...,...,...,...,...
732,13.03.2020,NaN,0.0,0.0,NaN,0,0,0,0,0
733,14.03.2020,NaN,0.0,0.0,NaN,0,0,0,0,0
734,15.03.2020,NaN,0.0,0.0,NaN,0,0,0,0,0
735,16.03.2020,NaN,0.0,0.0,NaN,0,0,0,0,0
736,18.03.2020,NaN,0.0,0.0,NaN,0,0,0,0,0

In [16]:

test['Intensity (MMI / JMA)']=test['Intensity (MMI / JMA)'].str.replace('+',' ')
test['Intensity (MMI / JMA)']=test['Intensity (MMI / JMA)'].str.replace('-',' ')
test['Intensity (MMI / JMA)']=test['Intensity (MMI / JMA)'].str.replace('JMA',' ')
grindle=test['Intensity (MMI / JMA)']

for i in grindle:
    if type(i)==str:
        if len(i)>4:
            print(len(i),i[0:len(i)//2])
        else:
            print(len(i),i)
    else:
        pass

1 V
1 V
1 V
3 VII
3 VII
4 VIII
2 VI
2 VI
2 VI
1 V
2 VI
2 VI
2 IX
2 VI
3 VII
1 V
2 IV
2 IX
1 V
2 VI
1 V
2 VI
2 5
2 VI
2 VI
2 VI
1 V
2 IV
2 VI
3 VII
4 VIII
3 VII
2 5
1 V
1 V
2 VI
1 V
2 VI
2 VI
2 VI
2 5
2 6
2 VI
1 5
2 VI
2 IV
4 VIII
2 IV
1 V
4 VIII
3 VII
1 V
2 IV
3 VII
3 VII
3 VII
4 VIII
3 VII
4 VIII
2 IV
5 X
4 VIII
3 VII
2 VI
3 VII
3 VII
2 IV
3 VII
3 VII
2 IV
3 VII
4 VIII
2 VI
2 VI
1 V
2 VI
4 VIII
1 6
1 V
3 VII
4 VIII
4 VII
1 V
3 VII
2 6
2 VI
4 VIII
3 VI
2 VI
1 V
3 VII
2 VI
4   6
2 VI
2 VI
3 VII
1 V
2 VI
3 VII
3 VII
4 VIII
3 VII
2 VI
3 VII
3 VII
2 5
6 IV
6 V
4 VIII
3 6
3 VII
2 VI
2 IV
2 IX
2 VI
4 VIII
2 VI
1 V
3 VII
4 VIII
2 VI
2 VI
1 V
1 V
2 VI
3 III
1 V
2 VI
2 VI
2 IV
3 VII
1 V
1 V
2 VI
4 VIII
3 VII
2 VI
2 VI
4 VIII
1 V
1 V
1 V
3 VII
3 VII
4 VIII
1 V
3 VII
1 V
1 V
1 V
2 VI
3 VII
2 IV
2 IV
3 VII
4 VIII
3 VII
2 VI
3 VII
3 VII
1 V
2 VI
10 VII
2 VI
3 VII
1 V

C:\Users\paulm\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\paulm\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\paulm\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [32]:
#The MMA/JMA is measured from 1-10+. This dictionary will help make it easier to put numbers and visualize what lite damage means
#intensity:(shaking,damage)
Intensity={'I':['none','none'],'II':['weak','none'],'III':['weak','none'],'IV':['light','none'],'V':['moderate','light'],'VI':['strong','light'],'VII':['strong','moderate'],'VIII':['severe','heavy'],'IX':['violent','heavy'],'X+':['extreme','very heavy']}

In [59]:
def roman_to_number(num):
    rom_val = {'I': 1, 'V': 5, 'X': 10, 'L':50 , 'C':100, 'D':500, 'M':1000}
    res=0
    i=0
    while i<len(num):
        s1=num[i]
        num1=rom_val[s1]
        if i+1<len(num):
            s2=num[i+1]
            num2=rom_val[s2]
            if num2<=num1:
                res=res+num1
                i+=1
            else:
                res=res+num2-num1
                i+=2
        else:
            res=res+num1
    return(res)
        
    
                
roman_to_number('VI')

KeyboardInterrupt:

In [60]:
def value(r): 
    if (r == 'I'): 
        return 1
    if (r == 'V'): 
        return 5
    if (r == 'X'): 
        return 10
    if (r == 'L'): 
        return 50
    if (r == 'C'): 
        return 100
    if (r == 'D'): 
        return 500
    if (r == 'M'): 
        return 1000
    return -1
  
def romanToDecimal(str): 
    res = 0
    i = 0
  
    while (i < len(str)): 
  
        # Getting value of symbol s[i] 
        s1 = value(str[i]) 
  
        if (i+1 < len(str)): 
  
            # Getting value of symbol s[i+1] 
            s2 = value(str[i+1]) 
  
            # Comparing both values 
            if (s1 >= s2): 
  
                # Value of current symbol is greater 
                # or equal to the next symbol 
                res = res + s1 
                i = i + 1
            else: 
  
                # Value of current symbol is greater 
                # or equal to the next symbol 
                res = res + s2 - s1 
                i = i + 2
        else: 
            res = res + s1 
            i = i + 1
  
    return res

In [62]:
romanToDecimal('VI')

6