In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import scipy as sci
from requests import get

In [12]:
data_2017 = pd.read_csv("2017_raw.csv", encoding = "ISO-8859-1").dropna(axis = 0, how = "all")
data_2018 = pd.read_csv("2018_raw.csv", encoding = "ISO-8859-1").dropna(axis = 0, how = "all")
data_2019 = pd.read_csv("2019_raw.csv", encoding = "ISO-8859-1").dropna(axis = 0, how = "all")
data_2020 = pd.read_csv("2020_raw.csv", encoding = "ISO-8859-1").dropna(axis = 0, how = "all", thresh = 2)

In [13]:
data_2017

,Date (UTC),Country,Region,Magnitude,Depth (km),Intensity (MMI),Fatalities,Injuries,displaced,Impact coefficient (D),buildings damaged,buildings destroyed,Tsunami height
0,02.01.2017,Italy,Umbria,4.1,8.0,V,0,0,30,0.1944,NaN,0,--
1,03.01.2017,India,Tripura,5.5,35.0,NaN,3,49,600,1.6688,1456,166,--
2,03.01.2017,Brazil,Maranhao,4.6,NaN,NaN,0,0,0,0.7530,500,0,--
3,03.01.2017,Fiji,Western Division (OS),7.2,16.0,IV,0,0,0,0.0000,0,0,1 cm
4,06.01.2017,Iran,Fars,5.1,4.0,NaN,4,4,905,1.4479,400,40,--
...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,21.12.2017,Iran,Kerman,5.2,NaN,NaN,0,42,8550,2.3633,500,1700,--
275,22.12.2017,Mexico,Veracruz,4.3,NaN,NaN,0,0,0,0.0198,5,0,--
276,25.12.2017,Iran,Kerman (aftershock),4.7,7.0,NaN,0,5,NaN,0.4142,NaN,10,--
277,26.12.2017,Iran,Tehran (aftershock),4.2,13.0,NaN,1,75,0,1.3265,0,0,--
278,27.12.2017,Iran,Kerman (aftershock),5.1,9.0,NaN,0,1,NaN,0.0990,NaN,NaN,--

In [14]:
data_2018

,Date (UTC),Country (Epicenter),Region (Epicenter),Magnitude,Type,Origin,Depth (km),Intensity (MMI / JMA),Fatalities,Injuries,displaced,Impact value (D),buildings damaged,buildings destroyed,Tsunami height
0,02.01.2018,Greece,Central Macedonia,4.7,Earthquake,tectonic,NaN,NaN,0,0,0,0.057,15,0,--
1,02.01.2018,Canada,Alberta,2,Cryoseism,weather,NaN,NaN,0,0,0,0.012,3,0,--
2,02.01.2018,India,Maharashtra,3.2,EQ Swarm,tectonic,NaN,NaN,0,0,NaN,0.422,176,0,--
3,02.01.2018,Algeria,Blida,5.1,Earthquake,tectonic,10,V,0,2,NaN,0.182,1,NaN,--
4,03.01.2018,El Salvador,OS La Libertad,5.1,Earthquake,tectonic,80,V,0,0,0,0.016,4,0,--
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,26.12.2018,Italy,Sicily,4.9,Earthquake,volcanic,1,VIII,0,28,1096,1.961,5048,505,--
318,27.12.2018,Venezuela,Carabobo,5.5,Earthquake,tectonic,10,VII,NaN,NaN,NaN,0.287,100,NaN,--
319,28.12.2018,Indonesia,Papua Barat,5.7,Earthquake,tectonic,41,NaN,0,0,0,0.02,5,0,--
320,29.12.2018,Mexico,Nuevo Leon,4.2,Earthquake,NaN,NaN,NaN,NaN,NaN,NaN,0.012,3,NaN,--
321,30.12.2018,Thailand,Kanchanaburi,4.9,Earthquake,tectonic,NaN,NaN,0,0,0,0.004,1,0,--

In [15]:
data_2019=data_2019.drop(['Lat','Long'], axis=1)
data_2019

,Date (UTC),Country (Epicenter),Region (Epicenter),Magnitude,Type,Origin,Depth (km),Intensity (MMI / JMA),Fatalities,Injuries,displaced,Impact value (D),buildings damaged,buildings destroyed,Tsunami height
0,01.01.2019,Italy,Abruzzo,4.1,earthquake,tectonic,17.0,V,0,0,0,0.027,7.0,0,--
1,03.01.2019,Mexico,Veracruz,4.2,earthquake,tectonic,5.0,NaN,0,0,0,0.031,8.0,0,--
2,03.01.2019,China,Sichuan,5.3,aftershock,tectonic,15.0,VII,0,1,251,1.151,753.0,44,--
3,03.01.2019,Japan,Kumamoto,5,aftershock,tectonic,10.0,6-,0,3,0,0.261,7.0,0,--
4,04.01.2019,Albania,Vlore,4.8,earthquake,tectonic,28.0,NaN,0,0,0,0.020,5.0,0,--
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322,27.12.2019,Iran,Bushehr,4.9,earthquake,tectonic,10.0,NaN,0,0,0,0.020,5.0,0,--
323,27.12.2019,Turkey,Elazig,4.9,earthquake,tectonic,5.0,NaN,0,0,0,0.032,5.0,1,--
324,28.12.2019,USA,Puerto Rico,"4,7",EQ swarm,tectonic,6.0,V,0,0,0,0.012,3.0,0,--
325,30.12.2019,Iran,Hormozgan,"5,4",earthquake,tectonic,NaN,NaN,0,4,5,0.336,NaN,2,--
326,30.12.2019,Pakistan,Gilgit-Baltistan,"5,4",earthquake,tectonic,NaN,NaN,NaN,NaN,100,0.711,250.0,NaN,--

In [16]:
data_2020=data_2020.drop(['Lat','Long'], axis=1)
data_2020

,Date (UTC),Epicenter,Region (Epicenter),Magnitude,Type,Origin,Depth (km),Intensity (MMI / JMA),Fatalities,Injuries,displaced,Impact value (D),buildings damaged,buildings destroyed,Tsunami height
0,02.01.2020,Iran,Ravazi-Chorasan,5.8,earthquake,tectonic,8.0,NaN,0.0,1.0,100.0,0.610,100.0,2.0,--
1,03.01.2020,India,Gujarat,3.2,earthquake,tectonic,NaN,NaN,0.0,0.0,0.0,0.020,5.0,0.0,--
2,03.01.2020,Ecuador,El Oro,5.0,earthquake,tectonic,60.0,NaN,0.0,0.0,0.0,0.004,1.0,0.0,--
3,05.01.2020,Mexico,Oaxaca,5.8,earthquake,tectonic,97.0,VI,0.0,0.0,NaN,0.487,225.0,NaN,--
4,06.01.2020,USA,Puerto Rico,5.8,EQ sequence,tectonic,6.0,NaN,0.0,0.0,5.0,0.294,75.0,6.0,--
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,13.03.2020,Tanzania,Tanga,4.8,earthquake,tectonic,15.0,NaN,0.0,0.0,0.0,0.008,2.0,0.0,--
84,14.03.2020,Iran,Qom,4.0,earthquake,tectonic,10.0,NaN,0.0,0.0,0.0,0.038,10.0,0.0,--
85,15.03.2020,Iran,Hormozgan,5.4,earthquake,tectonic,16.0,NaN,0.0,2.0,NaN,0.236,20.0,1.0,--
86,16.03.2020,India,Rajasthan,3.1,earthquake,tectonic,NaN,NaN,0.0,0.0,0.0,0.008,2.0,0.0,--
87,18.03.2020,USA,Utah,5.7,earthquake,tectonic,11.0,NaN,NaN,NaN,NaN,0.000,NaN,NaN,NaN

In [17]:

Pickle=pd.concat([data_2017,data_2018,data_2019,data_2020], ignore_index=True)
Pickle

,Date (UTC),Country,Region,Magnitude,Depth (km),Intensity (MMI),Fatalities,Injuries,displaced,Impact coefficient (D),buildings damaged,buildings destroyed,Tsunami height,Country (Epicenter),Region (Epicenter),Type,Origin,Intensity (MMI / JMA),Impact value (D),Epicenter
0,02.01.2017,Italy,Umbria,4.1,8,V,0,0,30,0.1944,NaN,0,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,03.01.2017,India,Tripura,5.5,35,NaN,3,49,600,1.6688,1456,166,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,03.01.2017,Brazil,Maranhao,4.6,NaN,NaN,0,0,0,0.7530,500,0,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,03.01.2017,Fiji,Western Division (OS),7.2,16,IV,0,0,0,0.0000,0,0,1 cm,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,06.01.2017,Iran,Fars,5.1,4,NaN,4,4,905,1.4479,400,40,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1011,13.03.2020,NaN,NaN,4.8,15,NaN,0,0,0,NaN,2,0,--,NaN,Tanga,earthquake,tectonic,NaN,0.008,Tanzania
1012,14.03.2020,NaN,NaN,4,10,NaN,0,0,0,NaN,10,0,--,NaN,Qom,earthquake,tectonic,NaN,0.038,Iran
1013,15.03.2020,NaN,NaN,5.4,16,NaN,0,2,NaN,NaN,20,1,--,NaN,Hormozgan,earthquake,tectonic,NaN,0.236,Iran
1014,16.03.2020,NaN,NaN,3.1,NaN,NaN,0,0,0,NaN,2,0,--,NaN,Rajasthan,earthquake,tectonic,NaN,0.008,India
1015,18.03.2020,NaN,NaN,5.7,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Utah,earthquake,tectonic,NaN,0,USA

In [18]:
lister=['Date (UTC)','Country (Epicenter)','Magnitude', 'Depth (km)','Intensity (MMI / JMA)','Fatalities','Injuries','displaced','buildings damaged','buildings destroyed']
Raw=Pickle[lister]
test=Raw

In [26]:
lister=['Country (Epicenter)','Magnitude', 'Depth (km)','Fatalities','Injuries','displaced','buildings damaged','buildings destroyed']
def conversion(title,column):
    title[column]=title[column].str.replace(',','.')
    title[column]=title[column].str.replace('#',' ')
    title[column]=title[column].str.strip('/')
    title[column]=title[column].fillna(0)
    title[column]=pd.to_numeric(title[column])
    return(title)

def where(title,column):
    return (title[pd.to_numeric(title[column], errors='coerce').isnull()])

for i in range(len(lister)):
    print(where(test,lister[i]))

      Date (UTC) Country (Epicenter)  Magnitude Depth (km)  \
208   September                  NaN  8,1 ; 7,1        NaN
431  #15.06.2018          #Indonesia       #5,5        #10
750  #24.06.2019              #Sudan        NaN        NaN

    Intensity (MMI / JMA) Fatalities Injuries        displaced  \
208                   NaN       /475    /7600  /=458392+193546
431                   NaN         #0       #3             #200
750                   NaN        #12      #12             #250

    buildings damaged buildings destroyed
208           /180731              /50610
431               #32                 #86
750               NaN                #100
      Date (UTC) Country (Epicenter)  Magnitude Depth (km)  \
208   September                  NaN  8,1 ; 7,1        NaN
431  #15.06.2018          #Indonesia       #5,5        #10
750  #24.06.2019              #Sudan        NaN        NaN

    Intensity (MMI / JMA) Fatalities Injuries        displaced  \
208                   NaN       /475    /7600  /=458392+193546
431                   NaN         #0       #3             #200
750                   NaN        #12      #12             #250

    buildings damaged buildings destroyed
208           /180731              /50610
431               #32                 #86
750               NaN                #100
      Date (UTC) Country (Epicenter)  Magnitude Depth (km)  \
208   September                  NaN  8,1 ; 7,1        NaN
431  #15.06.2018          #Indonesia       #5,5        #10
750  #24.06.2019              #Sudan        NaN        NaN

    Intensity (MMI / JMA) Fatalities Injuries        displaced  \
208                   NaN       /475    /7600  /=458392+193546
431                   NaN         #0       #3             #200
750                   NaN        #12      #12             #250

    buildings damaged buildings destroyed
208           /180731              /50610
431               #32                 #86
750               NaN                #100
      Date (UTC) Country (Epicenter)  Magnitude Depth (km)  \
208   September                  NaN  8,1 ; 7,1        NaN
431  #15.06.2018          #Indonesia       #5,5        #10
750  #24.06.2019              #Sudan        NaN        NaN

    Intensity (MMI / JMA) Fatalities Injuries        displaced  \
208                   NaN       /475    /7600  /=458392+193546
431                   NaN         #0       #3             #200
750                   NaN        #12      #12             #250

    buildings damaged buildings destroyed
208           /180731              /50610
431               #32                 #86
750               NaN                #100
      Date (UTC) Country (Epicenter)  Magnitude Depth (km)  \
208   September                  NaN  8,1 ; 7,1        NaN
431  #15.06.2018          #Indonesia       #5,5        #10
750  #24.06.2019              #Sudan        NaN        NaN

    Intensity (MMI / JMA) Fatalities Injuries        displaced  \
208                   NaN       /475    /7600  /=458392+193546
431                   NaN         #0       #3             #200
750                   NaN        #12      #12             #250

    buildings damaged buildings destroyed
208           /180731              /50610
431               #32                 #86
750               NaN                #100
      Date (UTC) Country (Epicenter)  Magnitude Depth (km)  \
208   September                  NaN  8,1 ; 7,1        NaN
431  #15.06.2018          #Indonesia       #5,5        #10
750  #24.06.2019              #Sudan        NaN        NaN

    Intensity (MMI / JMA) Fatalities Injuries        displaced  \
208                   NaN       /475    /7600  /=458392+193546
431                   NaN         #0       #3             #200
750                   NaN        #12      #12             #250

    buildings damaged buildings destroyed
208           /180731              /50610
431               #32                 #86
750               NaN                #100
      Date (UTC) Country (Epicenter)  Magnitude Depth (km)  \
208   September                  NaN  8,1 ; 7,1        NaN
431  #15.06.2018          #Indonesia       #5,5        #10
750  #24.06.2019              #Sudan        NaN        NaN

    Intensity (MMI / JMA) Fatalities Injuries        displaced  \
208                   NaN       /475    /7600  /=458392+193546
431                   NaN         #0       #3             #200
750                   NaN        #12      #12             #250

    buildings damaged buildings destroyed
208           /180731              /50610
431               #32                 #86
750               NaN                #100
      Date (UTC) Country (Epicenter)  Magnitude Depth (km)  \
208   September                  NaN  8,1 ; 7,1        NaN
431  #15.06.2018          #Indonesia       #5,5        #10
750  #24.06.2019              #Sudan        NaN        NaN

    Intensity (MMI / JMA) Fatalities Injuries        displaced  \
208                   NaN       /475    /7600  /=458392+193546
431                   NaN         #0       #3             #200
750                   NaN        #12      #12             #250

    buildings damaged buildings destroyed
208           /180731              /50610
431               #32                 #86
750               NaN                #100

In [27]:
Raw

,Date (UTC),Country (Epicenter),Magnitude,Depth (km),Intensity (MMI / JMA),Fatalities,Injuries,displaced,buildings damaged,buildings destroyed
0,02.01.2017,NaN,4.1,8,NaN,0,0,30,NaN,0
1,03.01.2017,NaN,5.5,35,NaN,3,49,600,1456,166
2,03.01.2017,NaN,4.6,NaN,NaN,0,0,0,500,0
3,03.01.2017,NaN,7.2,16,NaN,0,0,0,0,0
4,06.01.2017,NaN,5.1,4,NaN,4,4,905,400,40
...,...,...,...,...,...,...,...,...,...,...
1011,13.03.2020,NaN,4.8,15,NaN,0,0,0,2,0
1012,14.03.2020,NaN,4,10,NaN,0,0,0,10,0
1013,15.03.2020,NaN,5.4,16,NaN,0,2,NaN,20,1
1014,16.03.2020,NaN,3.1,NaN,NaN,0,0,0,2,0
1015,18.03.2020,NaN,5.7,11,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
test

,Date (UTC),Country (Epicenter),Magnitude,Depth (km),Intensity (MMI / JMA),Fatalities,Injuries,displaced,buildings damaged,buildings destroyed
0,02.01.2018,Greece,4.7,0.0,NaN,0,0,0,15,0
1,02.01.2018,Canada,2.0,0.0,NaN,0,0,0,3,0
2,02.01.2018,India,3.2,0.0,NaN,0,0,0,176,0
3,02.01.2018,Algeria,5.1,10.0,V,0,2,0,1,0
4,03.01.2018,El Salvador,5.1,80.0,V,0,0,0,4,0
...,...,...,...,...,...,...,...,...,...,...
732,13.03.2020,NaN,0.0,0.0,NaN,0,0,0,0,0
733,14.03.2020,NaN,0.0,0.0,NaN,0,0,0,0,0
734,15.03.2020,NaN,0.0,0.0,NaN,0,0,0,0,0
735,16.03.2020,NaN,0.0,0.0,NaN,0,0,0,0,0
736,18.03.2020,NaN,0.0,0.0,NaN,0,0,0,0,0

In [16]:

test['Intensity (MMI / JMA)']=test['Intensity (MMI / JMA)'].str.replace('+',' ')
test['Intensity (MMI / JMA)']=test['Intensity (MMI / JMA)'].str.replace('-',' ')
test['Intensity (MMI / JMA)']=test['Intensity (MMI / JMA)'].str.replace('JMA',' ')
grindle=test['Intensity (MMI / JMA)']

for i in grindle:
    if type(i)==str:
        if len(i)>4:
            print(len(i),i[0:len(i)//2])
        else:
            print(len(i),i)
    else:
        pass

1 V
1 V
1 V
3 VII
3 VII
4 VIII
2 VI
2 VI
2 VI
1 V
2 VI
2 VI
2 IX
2 VI
3 VII
1 V
2 IV
2 IX
1 V
2 VI
1 V
2 VI
2 5
2 VI
2 VI
2 VI
1 V
2 IV
2 VI
3 VII
4 VIII
3 VII
2 5
1 V
1 V
2 VI
1 V
2 VI
2 VI
2 VI
2 5
2 6
2 VI
1 5
2 VI
2 IV
4 VIII
2 IV
1 V
4 VIII
3 VII
1 V
2 IV
3 VII
3 VII
3 VII
4 VIII
3 VII
4 VIII
2 IV
5 X
4 VIII
3 VII
2 VI
3 VII
3 VII
2 IV
3 VII
3 VII
2 IV
3 VII
4 VIII
2 VI
2 VI
1 V
2 VI
4 VIII
1 6
1 V
3 VII
4 VIII
4 VII
1 V
3 VII
2 6
2 VI
4 VIII
3 VI
2 VI
1 V
3 VII
2 VI
4   6
2 VI
2 VI
3 VII
1 V
2 VI
3 VII
3 VII
4 VIII
3 VII
2 VI
3 VII
3 VII
2 5
6 IV
6 V
4 VIII
3 6
3 VII
2 VI
2 IV
2 IX
2 VI
4 VIII
2 VI
1 V
3 VII
4 VIII
2 VI
2 VI
1 V
1 V
2 VI
3 III
1 V
2 VI
2 VI
2 IV
3 VII
1 V
1 V
2 VI
4 VIII
3 VII
2 VI
2 VI
4 VIII
1 V
1 V
1 V
3 VII
3 VII
4 VIII
1 V
3 VII
1 V
1 V
1 V
2 VI
3 VII
2 IV
2 IV
3 VII
4 VIII
3 VII
2 VI
3 VII
3 VII
1 V
2 VI
10 VII
2 VI
3 VII
1 V

C:\Users\paulm\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\paulm\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\paulm\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [32]:
#The MMA/JMA is measured from 1-10+. This dictionary will help make it easier to put numbers and visualize what lite damage means
#intensity:(shaking,damage)
Intensity={'I':['none','none'],'II':['weak','none'],'III':['weak','none'],'IV':['light','none'],'V':['moderate','light'],'VI':['strong','light'],'VII':['strong','moderate'],'VIII':['severe','heavy'],'IX':['violent','heavy'],'X+':['extreme','very heavy']}

In [106]:
def roman_to_number(num):
    rom_val = {'I': 1, 'V': 5, 'X': 10, 'L':50 , 'C':100, 'D':500, 'M':1000}
    res=0
    i=0
    while i<len(num):
        s1=num[i]
        num1=rom_val[s1]
        if i!=len(num):
            s2=num[i+1]
            num2=rom_val[s2]
        else:
            num2=0
        #if num2<=num1:
        #    res=res+num1+num2
        #else:
        #    res=res+num2-num1
        i=i+1
    #return(i)
    return(num2)
    
                
roman_to_number('VII')

IndexError: string index out of range

In [91]:
rom_val = {'I': 1, 'V': 5, 'X': 10, 'L':50 , 'C':100, 'D':500, 'M':1000}
tip='X'
if tip in rom_val.keys():
    print(rom_val[tip])

10