# Good Vibes: The Probability of Earthquake Magnitude and Death
*A Milestone Report for the Introduction to Data Science Project*  
  
**Team Fugacity Members**  
Paul Mundt, u0932146  
Katie Jones, u0541901

## Data Collection and Cleaning

The main source of data for the regressions comes from the Earthquake Impact Database on earthquake-report.com. For the analysis, we are analyzing data from 2017-2020. The data from 2020 is partial, and includes information that was availible on Wednesday, March 18th.

In [1]:
import pandas as pd

In [2]:
# Import CSV Files Extracted from the Earthquake Impact Database
data_2017 = pd.read_csv("2017_raw.csv", encoding = "ISO-8859-1").dropna(axis = 0, how = "all")
data_2018 = pd.read_csv("2018_raw.csv", encoding = "ISO-8859-1").dropna(axis = 0, how = "all")
data_2019 = pd.read_csv("2019_raw.csv", encoding = "ISO-8859-1").dropna(axis = 0, how = "all")
data_2020 = pd.read_csv("2020_raw.csv", encoding = "ISO-8859-1").dropna(axis = 0, how = "all", thresh = 2)

In [3]:
#Clean 2020 Data
data_2020 = data_2020.drop('Depth (km)', axis = 1).drop('Intensity (MMI / JMA)', axis = 1).drop('Type', axis = 1).drop('Origin', axis = 1).drop('Tsunami height', axis = 1)
data_2020 = data_2020.fillna(value = 0)
data_2020 = data_2020.rename(columns = {"Epicenter" : "Country", "Region (Epicenter)" : "Region"} )

#Clean 2019 Data
data_2019 = data_2019.drop('Depth (km)', axis = 1).drop('Intensity (MMI / JMA)', axis = 1).drop('Type', axis = 1).drop('Origin', axis = 1).drop('Tsunami height', axis = 1)
data_2019 = data_2019.fillna(value = 0).replace("--", "0")
data_2019 = data_2019.rename(columns = {"Country (Epicenter)" : "Country", "Region (Epicenter)" : "Region"} )

#Clean 2018 Data
data_2018 = data_2018.drop('Depth (km)', axis = 1).drop('Intensity (MMI / JMA)', axis = 1).drop('Type', axis = 1).drop('Origin', axis = 1).drop('Tsunami height', axis = 1)
data_2018 = data_2018.fillna(value = 0).replace("--", "0")
latlong_2018 = [0 for _ in range(0, len(data_2018.index))]
data_2018.insert(loc = 4, column = 'Lat', value = latlong_2018)
data_2018.insert(loc = 5, column = 'Long', value = latlong_2018)
data_2018 = data_2018.rename(columns = {"Country (Epicenter)" : "Country", "Region (Epicenter)" : "Region"} )

#Clean 2017 Data
data_2017 = data_2017.drop('Depth (km)', axis = 1).drop('Intensity (MMI)', axis = 1).drop('Tsunami height', axis = 1)
data_2017 = data_2017.fillna(value = 0).replace("--", "0")
latlong_2017 = [0 for _ in range(0, len(data_2017.index))]
data_2017.insert(loc = 4, column = 'Lat', value = latlong_2017)
data_2017.insert(loc = 5, column = 'Long', value = latlong_2017)
data_2017 = data_2017.rename(columns = {"Impact coefficient (D)" : "Impact value (D)"} )

In [4]:
#Concatenate Dataframes into a Single Dataset

earthquake_data = pd.concat([data_2017, data_2018, data_2019, data_2020]).reindex()

In [5]:
earthquake_data

,Date (UTC),Country,Region,Magnitude,Lat,Long,Fatalities,Injuries,displaced,Impact value (D),buildings damaged,buildings destroyed
0,02.01.2017,Italy,Umbria,4.1,0,0,0,0,30,0.1944,0,0
1,03.01.2017,India,Tripura,5.5,0,0,3,49,600,1.6688,1456,166
2,03.01.2017,Brazil,Maranhao,4.6,0,0,0,0,0,0.7530,500,0
3,03.01.2017,Fiji,Western Division (OS),7.2,0,0,0,0,0,0.0000,0,0
4,06.01.2017,Iran,Fars,5.1,0,0,4,4,905,1.4479,400,40
...,...,...,...,...,...,...,...,...,...,...,...,...
83,13.03.2020,Tanzania,Tanga,4.8,-4.9,38.55,0,0,0,0.008,2,0
84,14.03.2020,Iran,Qom,4,34.56,50.72,0,0,0,0.038,10,0
85,15.03.2020,Iran,Hormozgan,5.4,27.2,55.32,0,2,0,0.236,20,1
86,16.03.2020,India,Rajasthan,3.1,26.9,75.3,0,0,0,0.008,2,0
87,18.03.2020,USA,Utah,5.7,40.75,-112.08,0,0,0,0,0,0