## Getting GDP and Cleaning##
we used the following link for GDP:
$$
$$
https://www.worldometers.info/gdp/gdp-by-country/
$$
$$
Frm here we load the data and launch it

In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import scipy as sci
from requests import get

In [2]:
url = 'https://www.worldometers.info/gdp/gdp-by-country/'

In [3]:
response=get(url)
soup=BeautifulSoup(response.text,'html.parser')

In [97]:
Table=soup.find('tbody')
T=Table.find_all('tr')
columns=[col for col in T[0]]
Beep=[T[i] for i in range(0,len(T))]

In [104]:
tipping=[]
for col in columns:
    if col==' ':
        pass
    else:
        tipping.append(col.get_text())

In [124]:
tip=[]
for i in range(0,3):
    clip=[]
    columns=[col for col in T[i]]
    for col in columns:
        if col==' ':
            pass
        else:
            clip.append(col.get_text())
    tip.append(clip)
gdp=pd.DataFrame(tip)
gdp

,0,1,2,3,4,5,6,7
0,1,United States,"$19,485,394,000,000",$19.485 trillion,2.27%,"325,084,756","$59,939",24.08%
1,2,China,"$12,237,700,479,375",$12.238 trillion,6.90%,"1,421,021,791","$8,612",15.12%
2,3,Japan,"$4,872,415,104,315",$4.872 trillion,1.71%,"127,502,725","$38,214",6.02%